[2014-11-02 21:48] svdoever opened #3 "Issue when executing sample code in browser"
When I execute the sample code:

[code]

In the interactive browser console at http://simplygits.github.io/MagisterJS/tryout/index.html I get the following error:

[code]

I see the object m logged to my console with a lot of interesting info, but none of the functions mentioned in the documentation seems to be accessible...

[2014-11-03 21:42] svdoever opened #4 "appointments gives error"
If I execute the code:

[code]

I get the error: **Uncaught TypeError: Cannot read property 'getUTCFullYear' of undefined**

[2014-11-03 22:29] #3 closed, assigned to nobody

[2014-11-09 21:36] lieuwex opened #5 "Support for parent accounts."
#4

[2014-11-09 21:37] lieuwex opened #6 "Support uploading files."
TODO
===

- [ ] Find a good way to pass in data uploads trough proxies.
- [ ] Find a good way to surface the upload API the same for BrowserSide and Node. This is really tricky because we have to user FormData which is really weird on Node. Two options:
  - Make a superset for Node.js that support providing the file content and/or path.
    - Pros: Clean and useful API.
    - Cons: Confussing, may

[2014-11-12 12:20] lieuwex opened #7 "Better error handling."
Give the error parmater of each callback more information and be sure that all errors are flowed towards the latest callback.

[2014-11-12 13:35] lieuwex opened #8 "Refractor grades and courses."
Grades and courses are implemented very confusing, they should be easier and more logical.

[2014-11-13 08:43] lieuwex opened #9 "Expand Messages."
We should be able to do stuff like responding to mails and forwarding them.

[2014-11-19 14:37] #5 closed, assigned to lieuwex

[2014-12-09 18:40] #4 closed, assigned to nobody

[2014-12-10 14:48] lieuwex opened #10 "Expand grades"
Grades aren't fully utilized, I looked over /api/personen/3356/aanmeldingen/<person id>/cijfers/extracijferkolominfo/<grade id>

[2014-12-12 15:04] lesander opened #11 "Uncaught TypeError: Cannot read property 'length' of undefined"
Hey there guys.
The `appointments()` method has been giving me some trouble lately..

I'm using the browser version of Magister JS. Here's an image of my `Uncaught TypeError: Cannot read property 'length' of undefined` error: (click the image to see it's full size)
![image](https://cloud.githubusercontent.com/assets/4174509/5413562/50f92394-8218-11e4-84e3-d90ee7621b67.png)

Here's the code I'm usi

[2014-12-12 16:13] #11 closed, assigned to nobody

[2015-01-23 23:34] #9 closed

[2015-01-23 23:35] lieuwex commented on #10
Implemented in commit e8c01603bdcf68928c09769016dcd0d478dee0f7.

[2015-01-23 23:35] #10 closed

[2015-02-07 14:05] IsaiahvH opened #12 "Magister.ready() does not log in"
Hello!

I tried the sample code on your TryOut page, but `m` is `undefined`.
The following is the code I have used:
[code]
`console.log(m);` returns `undefined` in the developer console, and the `alert()` returns `Uncaught TypeError: Cannot read property 'profileInfo' of undefined` as error.
Of course, the `<username>` and `<password>` are replaced correctly, and I also tried `{ url: "https://dalt

[2015-02-07 17:28] lieuwex commented on #12
Hey Isaiah!

In commit b17c393f070162d4a6e44fd98ac4069c6bbedb84 I changed the way `Magister.ready()` worked.
I didn't update the docs and examples, which is just plain stupid... I'm so sorry since you really tried to help us with the detailed info, which I really appreciate.

In short, the new code should be:
[code]

`err` contains an error, if any.

I will update the docs and default code in the

[2015-02-07 17:28] #12 closed

[2015-02-07 21:00] IsaiahvH commented on #12
Hi,

No, don't worry!
I actually appreciate the fast and kind response immensely.
It's working now.

Thanks again!

[2015-02-17 17:59] IsaiahvH opened #13 "Mistake in homepage example"
Hey,

I was planning on filing a whole problem, but I'll save you the pain. I spent quite some time on figuring out and examining why the first example of your homepage does not work.
Guys, I think you might want to change `teachers[0]` to `teachers()[0]`, :]

[2015-02-17 18:00] IsaiahvH commented on #13
My previous problem:

Hello,

I got this code from your project homepage,
[code]
and I can understand what's happening, but it doesn't work.
I actually find the `result` value difficult to understand.
It consists of for arrays inside, so and upon further inspecting I indeed need only the first array, thus `result[0]`. But then; it seems all the actual values are stored inside with an underscore be

[2015-02-17 18:04] IsaiahvH commented on #13
Oh, and could possibly `window.onbeforeunload` be added to your TryOut when the text is changed once, just like JSFiddle? This is just a personal request, but I have pressed backspace quite some time instead of enter, losing my work (which wasn't much, but still).

[2015-02-17 18:19] lieuwex commented on #13
Hey Isaiah,

You're correct, the values are stored in `_{varname}` and `{varname}` is a getter/setter function which get's the result and sets, (if allowed) it also does some parsing if needed. See https://github.com/simplyGits/MagisterJS/blob/master/src/private/Helpers.coffee#L65

You could use all variable names with underscore before them but this might return unexpected values or allows you to

[2015-02-17 18:42] IsaiahvH commented on #13
Okay, I understand! Thanks for your quick reply!

[2015-02-26 13:24] lieuwex opened #14 "99%? of Magister's API changed."
PANIC

[2015-02-26 13:46] lieuwex opened #15 "Change the getsetter style to normal properties."
`_convertRaw` and functions such as `Mail.send` are way better candidates for converting unconverted properties and will lead to faster and cleaner code.

[2015-02-26 13:47] lieuwex commented on #6
Almost impossible to get with normal REST proxies.
If you want to do this yourself, go ahead.

[2015-02-26 13:47] #6 closed

[2015-02-27 09:17] Vogeltak commented on #14
What happened? I haven't noticed any changes.

[2015-02-27 12:01] lieuwex commented on #14
@Vogeltak Nawh nothing too much I was just panicing because Magister.js broke in it's whole, all calls that are done when you enter settings are different, we also got some more like getting the address and house number. I'm pushing the changes to Magister.js today

[2015-02-28 14:21] #13 closed

[2015-03-27 20:03] Tim-W opened #16 "Meteor support"
Hey, what happened to your meteor package?

[code]

[2015-03-27 20:11] lieuwex commented on #16
Hey,
Nothing really, there were issues with implementing it so it was never there... ^^'
Sorry, I will look into it again, if you need it now, a good solution is to move the `src/` folder to your meteor `lib/` folder and remove:
- `private/_deps.coffee`
- `http/http.js`

You also need the `coffeescript` package.

Our HTTP method:
[code]

I know this is highly impractical, sorry for the mess.

_Kee

[2015-05-15 23:40] lieuwex commented on #16
Sorry for the long wait. But it's here, fully working.
Example: https://github.com/lieuwex/magisterjs-example

[2015-05-15 23:40] #16 closed

[2015-05-16 11:19] lieuwex opened #17 "Remove included lodash and require the user to provide one."
Maybe an user already has lodash and doesn't need to load it again.

[2015-05-16 12:14] #17 closed

[2015-05-24 11:41] #14 closed

[2015-06-08 07:57] lieuwex opened #18 "Use semver from 2.0"

[2015-06-08 16:07] #8 closed

[2015-06-08 20:29] lieuwex commented on #7
This process is done iirc. If there is any place where errors are badly handled or not working really, then please open a new issue.

[2015-06-08 20:29] #7 closed

[2015-06-08 20:30] lieuwex commented on #15
@simplyGits/simplycoders thoughts? concerns?

[2015-06-08 20:34] tomsmeding commented on #15
You might be able to use the real `Object.create` getters/setters. Won't make the code faster though, just make the API cleaner and more magical. Because that's just what we need. Making the code faster is great though — if you know how to do that, do that.

[2015-06-08 20:36] lieuwex commented on #15
I thought about native getter and setters a bit, but they're not really correctly supported everywhere. The best I can think of is not using getter and setters but that will create some limits at places. This is the most magical I can make it I guess.

But the performance and cleanness of the end-user's code is uglier. *sigh* I don't know

[2015-06-08 20:39] tomsmeding commented on #15
I'd say make them normal properties and handle conversion separately. That makes for a little more code bloat everywhere, but the result might be slightly faster, and stuff's cleaner, in a way. That way, you can cache a conversion when you'd be doing it multiple times with the setters or something. Dunno. If you'd do the conversion everywhere anyway, you could just as well keep the setters and rol

[2015-06-08 20:40] lieuwex commented on #15
Well, I'm mostly worried about things like https://github.com/simplyGits/MagisterJS/blob/master/src/Message.coffee#L57. That whole line is pure magic with getter/setter's, man.

[2015-06-09 07:20] tomsmeding commented on #15
Yeah but help. You shouldn't use a setter like that. Setting a normal property shouldn't do *networking*, at the very least. Make it a read-only property (i.e. a function) and make a separate `move` function that updates that internal property, besides also doing the communication to the Magister server.

[2015-06-09 13:40] lieuwex commented on #15
Hmm good point. 2.0 will have all getter/setters removed, or if needed, replaced with native getter/setters.

[2015-06-09 13:40] lieuwex opened #19 "Use es6 modules"

[2015-06-10 20:34] lieuwex opened #20 "Make underscore compatible too"

[2015-06-14 20:59] lieuwex opened #21 "Course.grades onlyRecent broken"
`onlyRecent ` on `Course.grades` is pretty much broken, it's temp disabled in commit 3d8b0ae81ba83aa94c17c331459ad36c0a1ba352.

The problem is that Magister only sends a small part of the grade if we ask for only the recent grades, although we use some of the info we should've received otherwise. We can fetch all the grades in the same period when the user calls `Grade.fillGrade`. But I'm not sure

[2015-06-16 06:47] lieuwex opened #22 "upstream: Type on persons no longer represent if they're teacher or pupil"

[2015-06-16 06:53] lieuwex commented on #22
If anybody knows if there's another way to get the type of a Person on Magister now, or if it was still working correctly for you, tell me.

[2015-06-17 21:35] lieuwex opened #23 "Option to refetch messageFolders"

[2015-06-18 06:14] #22 closed

[2015-06-18 10:22] lieuwex commented on #23
ccb353f99034cc36589d8f9c4bec6319cfc5b1b8

[2015-06-18 10:22] #23 closed

[2015-06-19 07:21] lieuwex opened #24 "Call callback Magister.getPersons async if persons were cached"
cc @tomsmeding

[2015-06-19 08:49] tomsmeding commented on #24
Well you kn

[2015-06-19 08:50] tomsmeding commented on #24
God forsaken touchscreens that let you press the wrong button.
What I WANTED TO SAY: Well youknow how to do this: _.defer, process.nextTick,, setTimeout(...,0) :)

[2015-06-19 11:40] lieuwex commented on #24
The only problem I have is that I have no fucking idea how to test if the cached result is being used.

[2015-06-19 11:49] tomsmeding commented on #24
Well you can test for time taken with `console.hrtime()`; that number should be *really* low when using the cached version. Not really a reliable test though.
You can count ticks by also registering a function in the test with something like

    var ticks=0,shouldContinueTicking=true;
    var f=function(){
        ticks++;
        if(shouldContinueTicking)process.nextTick(f);
    };
    process.n

[2015-06-19 12:01] lieuwex commented on #24
Haha I used another, simplier solution. :P

[2015-06-19 12:02] #24 closed

[2015-06-19 12:04] tomsmeding commented on #24
Guess that works; doesn't look like an ideal solution either, but got to do something.

[2015-06-19 12:05] lieuwex commented on #24
Why not? What are your concerns?

[2015-06-19 12:30] tomsmeding commented on #24
Okay, have to admit that most people won't notice the boolean being returned. You've got to document it, though, because you rely on it in the test.

[2015-06-19 12:32] lieuwex commented on #24
@tomsmeding it is already, https://github.com/simplyGits/MagisterJS/commit/2d5e01133767ad539c5a8860f76978928931275d#diff-dc8ca739394421dde815fc3ef96e0396R301

[2015-06-19 12:32] lieuwex commented on #24
oh damn, that is wrong :P `param` -> `return`

[2015-06-19 12:33] tomsmeding commented on #24
👍

[2015-06-19 12:33] lieuwex commented on #24
59a31155f7f11ad97dceaff91b388d2ff8709f11

[2015-06-21 15:04] lieuwex opened #25 "High ECONNRESET error rate"
Magister is throwing a hell of a lot errors at my face, are they ratelimiting us or is it just _another_ slight hiccup at their side?

[2015-06-21 15:08] tomsmeding commented on #25
Econnreset means the socket was forcibly closed on the other end, so ratelimit is quite possible. If it is a bug, then the official client should be affected too — iff their client doesn't just retry the request, which I suppose helps.

[2015-06-21 15:12] lieuwex commented on #25
That's the weird thing, if I use the webclient everything is fine. If I run the magister.js tests and come back to the webclient, the webclient will _sometimes_ fail for the first couple repsonses.

It could be an intended ratelimit or an unintened one ( their servers fucking up for example )

[2015-06-21 15:18] lieuwex commented on #25
Update: their client is broken af as well, had to click 3 times on a message to get it to open

[2015-06-22 13:13] #25 closed

[2015-06-22 13:14] lieuwex opened #26 "Retry login process parts after error"
Like a configurable (eg default 5 times) retry option which for example retries fetching the messagesFolders if that fails.

[2015-06-28 12:58] lieuwex opened #27 "Use null for errors to callbacks everywhere"
We currently mix `null` and `undefined` as the error paramter on callbacks, this forces users to check `!= null`, if we use `null` everywhere people can check with `!== null`.

[2015-06-28 12:59] tomsmeding commented on #27
NULL NULL NULL

[2015-06-28 13:57] lieuwex commented on #27
@tomsmeding it doesn't matter for me really, is `null` more common, if so we can do that

[2015-06-28 14:01] tomsmeding commented on #27
Well, for me at least:
- `undefined` means there is nothing, nor could there ever have been anything
- `null` means there is nothing, but there could, potentially, have been something
So I always use `null` for non-existant errors and such.

[2015-06-28 14:02] lieuwex commented on #27
@tomsmeding I just searched around and https://docs.nodejitsu.com/articles/errors/what-are-the-error-conventions tells the same thing. `null` it will be.

[2015-06-28 14:04] tomsmeding commented on #27
\o/ my own conventions match with common conventions

[2015-07-03 15:20] tomsmeding opened #28 "Use the swagger documentation."
I found this documentation today: https://appcontest.zenacc.nl/api/swagger
You might wanna use it.

[2015-07-04 10:02] lieuwex commented on #28
Awesome!

[2015-07-11 10:26] #27 closed

[2015-07-11 10:27] lieuwex commented on #27
That was easy

[2015-07-11 11:34] tomsmeding commented on #27
lol

[2015-07-15 12:34] lieuwex commented on #28
Fuck, it seems down, should've saved it. @tomsmeding do you have a saved version?

[2015-07-15 12:37] tomsmeding commented on #28
noooooop

[2015-09-01 16:25] #28 closed

[2015-09-05 16:08] IsaiahvH opened #29 "Incorrect error notification upon invalid login"
Hello,

When I provide an incorrect login on your TryOut, instead of neatly stating the login was invalid or something like that, `magister-browser-noHttp.min.js:3` reports `Uncaught TypeError: Cannot read property '0' of undefined`, which completely breaks the `if (error)`.
Can this be fixed?

Kind regards,

Isaiah van Hunen

[2015-09-05 16:56] #29 closed

[2015-09-05 16:58] lieuwex commented on #29
Hey Isaiah!

Fixed, sorry for the inconvenience.

The bug was only on the tryout, since I forgot to add http statuscode handling there.
We might add an wrapper around magister-http so that all the http implementations have http statuscode handling automatically added.

Thanks for your report!

[2015-09-20 21:09] lieuwex opened #30 "Fullday appointments still broken"
After 3abfcb11dffae9ba270b5e73a5aeb7feac9dfd15 it broke more badly again.
_sigh_

[2015-09-23 06:59] lieuwex opened #31 "Magister update broke logging in"

[2015-09-23 08:33] #31 closed

[2015-09-23 08:48] lieuwex commented on #30
Should be fixed in 6e1d9248720fb15d6b5be18a67dfb2ed73e655ef.

[2015-09-23 08:48] #30 closed

[2015-10-05 19:12] lieuwex opened #32 "Split `ProfileInfo::detailedInfo` to 2 seperate methods"

[2015-10-08 20:48] lieuwex opened #33 "Appointment attachments broken"
Seems to be always `null`,
1. this even happens when there should be files;
2. when there _are_ no files, it should be an empty array, not `null`.

[2015-10-14 20:37] bwired-nl opened #34 "magister api weer aangepast (Cannot read property 'map' of null)"
de laatste dagen komt deze fout weer continue, dus onderstaande loopt niet
Lijkt dat weer wat is aagepast?

          result.map(function (g) {
TypeError: Cannot read property 'map' of null

[code]

[2015-10-15 09:50] tomsmeding commented on #34
Ik heb de vrijheid genomen om je post iets aan te passen: wat styling, en het verwijderen van het wachtwoord uit de code.
Lieuwex is op dit moment niet aanwezig, en ik weet veel te weinig van de hele library om je hierbij van dienst te zijn. Als hij terug is, zal hij ernaar kijken. :)

Dat de Magister API is aangepast, is overigens zeer goed denkbaar. Het is niet bepaald een stabiele of goed georg

[2015-10-15 11:15] bwired-nl commented on #34
thanks:-)

[2015-10-15 23:09] bwired-nl commented on #34
Api werkt weer for now :-)

[2015-10-16 12:33] lieuwex commented on #34
Je hebt in de callback van `result[0].grades` niet gecontroleerd of `error` een waarde heeft, ik verwacht dat in dit geval Magister een foutmelding terug gaf, waardoor `result` `null` is.

[2015-10-16 12:33] #34 closed

[2015-10-16 12:36] bwired-nl commented on #34
ja klopt, ik heb het aangepast, maar magister lag er mbt de api weer eens 2 dagen uit :-(
dank!

[2015-10-20 17:49] #32 closed

[2015-10-26 15:31] lieuwex opened #35 "Add ability to add and remove custom appointments"
We should also show if an appointment is customly made (have to research how this is possible to detect, guess the `Type` field)

[2015-10-26 20:43] tomsmeding commented on #35
And let the user choose the exact time I suppose? Instead of 5-minute multiples or what's it what they do? ;-)

[2015-10-26 20:49] lieuwex commented on #35
30 minute intervals, ___30 MINUTE___

[2015-10-26 20:56] tomsmeding commented on #35
D:

[2015-11-08 13:16] #35 closed

[2015-11-12 17:15] w00tc0d3 opened #36 "'OngeldigeSessieStatus'"
Hello,

Using this code:
[code]

Gives the following error: ouch.  ```{ fouttype: 'OngeldigeSessieStatus',
  omschrijving: null,
  toString: [Function] }```

What could potentially be the problem? My school is on version 6.0.26.

Thank you.

[2015-11-12 18:50] tkon99 commented on #36
Hi,

We are aware of the issue and are currently working to fix it.
I'd like to remind you of the fact that Magister.js is distributed under GPLv3 which means that you have to:
- Make all your projects open source under the GPLv3 license that use Magister.js
- Provide proper credit in all your projects to the Magister.js library

If you definitely don't want to make your project open source you ca

[2015-11-12 18:58] #36 closed

[2015-11-12 19:01] lieuwex commented on #36
Hey,

Thanks for your bug report!
I was aware of the problem but only got time to fix it this evening, sorry for the inconvenience.
I don't exactly know the reason the login process suddenly broke, but it has to do with some change at Magister's side.

Please update your version of 'magister.js' by using `npm install --save magister.js` once again in your project folder.

Have fun building!
Lieuwe

[2015-11-12 19:41] bwired-nl commented on #36
thanks for the good service, working again!

[2015-11-15 12:49] #33 closed

[2015-11-15 14:47] JuulvanBracht opened #37 "How to use?"
Hallo,
Ik neem aan dat je nederlands bent.
Ik wil graag een Field waar je je leerling nummer kan invullen en daarna op go drukt dat het je rooster ophaalt. Maar het lukt mij maar niet, Ik weet niet waar ik moet beginnen.

Ik wil eigenlijk een tabel van
Deze dag:
+------------------+------------------+
| Hour               | Class  Room  |
+------------------+------------------+

- Juul

[2015-11-15 14:55] lieuwex commented on #37
Hey Juul,

Om te beginnen heb je enige kennis of van node.js of van Meteor nodig.
In deze situatie zou ik met [express](http://expressjs.com/) werken, daarvia host je dan een webpagina, gewoon een simpele HTML pagina zou voldoende moeten zijn, met een beetje clientside javascript code die bijvoorbeeld via jQuery AJAX informatie van je express server haalt via een REST endpoint.

De endpoint zou da

[2015-11-15 14:56] lesander commented on #37
Wat heb je al geprobeerd?

[2015-11-15 14:58] tkon99 commented on #37
Hi Juul,

Volgensmij wil je iets wat niet mogelijk is. Hoe ik het interpreteer wil je dat je alleen je leerlingnummer hoeft in te vullen. Dat kan niet omdat je altijd moet inloggen met Magister. Tenzij je school een gepro-osi rooster gebruikt. Zou je kunnen verduidelijken wat je wilt bereiken?

Alvast bedankt!

[2015-11-15 15:58] JuulvanBracht commented on #37
Mijn school gebruikt idd gepro-osi roosters.
Met Express kan ik niet echt overweg. Dit wordt te moeilijk.

Is er een soort PHP api voor geopro roosters?

Btw. Ik ben 14 dus ik kan niet al teveel qua Jquery, Php snap ik veeeel beter.

[2015-11-15 16:00] tkon99 commented on #37
Hi Juul,

Wat leuk dat je PHP kan, zo ben ik ook begonnen :smile:
Blijkbaar is vandaag je geluksdag want ik heb een library gemaakt in PHP die precies dat doet!
https://github.com/tkon99/API-gepro-osi

Mocht je vragen hebben dan kun je daar een issue aanmaken.
Veel plezier!

[2015-11-15 16:00] #37 closed

[2015-11-15 20:07] JuulvanBracht commented on #37
Tof! Thanks

[2015-11-23 20:00] nloomans commented on #26
Does failing include wrong password? Because 5 times wrong is enough to get you blocked.

[2015-11-23 20:59] lieuwex commented on #26
@nloomans Thanks for the headsup! Retries are used when we get an unexpected result back from Magister, so stuff like a blocked account or wrong credentials will not trigger a retry.

[2015-11-30 19:15] lieuwex opened #38 "Ratelimiting 'support'"
Magister has added rate limiting a little while ago, and we currently just straight up ignore it. When ratelimited Magister sends an object like: `{"Message":"Rate limit reached. Reset in 25 seconds.","SecondsLeft":25}`.

I was thinking about when we get an object with a `SecondsLeft` field we delay every set request and repeat the current one (where we get the error from) after the value of `Seco

[2015-12-04 17:32] #20 closed

[2015-12-11 18:17] noughtmare opened #39 "Typo in README.md"
The word style is misspelled as stlyle under the Programming style heading.

[2015-12-11 18:19] #39 closed

[2015-12-11 18:19] lieuwex commented on #39
Thanks!

[2015-12-30 14:47] lieuwex opened #40 "Add support for changing password"

[2016-03-04 09:42] CharString opened #41 "SECURITY ISSUE: Browser version is susceptible to man-in-the-middle vector."
Since node.js as always advertised as "just javascript" I was expecting the browser try out to run in my browser and directly do requests to magister.net. Instead it posts requests to simplyapps.nl (running at heroku).

I have 2 grave issues with this:

1. it doesn't use TLS, so it is susceptible to man-in-the-middle-attacks. Magister user data contains private data like names, birthdates, address

[2016-03-04 14:08] lieuwex commented on #41
Hey Chris,

Thanks for your report. We can't send the data directly from the browser to Magister since they don't have [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing) enabled, so we need some sort of proxy.

I agree with your concern of not having TLS here, I might get a certificate for the try-out, from something like Let’s Encrypt.

On your second point, I understand your con

[2016-03-04 16:39] tkon99 commented on #41
Well, tbh I don't see the use of the try out anyway. For me it doesn't really add anything to the usual code examples. Perhaps we should include those in the readme? (@lieuwex)

We can't really prove we haven't edited the code further than we already do by making it open source.
We could of course make a chrome extension which acts like a proxy. (iirc)

[2016-03-04 17:19] lieuwex commented on #41
@tkon99 magister.js v2 will no longer have a browser-side and I had the idea of linking [Tonic](https://tonicdev.com/npm/magister.js) instead of our try-out. It does solve point 1 but not point 2, though.

We could also remove the try-out completely indeed.

[2016-03-14 15:27] lesander commented on #41
My two cents on this: Heroku deploys TLS and SSL certificates for all `*.herokuapp.com` subdomains. So https://smallproxy.herokuapp.com/ actually is secure. You can also automatically deploy GitHub repositories to Heroku with hooks, but of course there always needs to be good faith in the developers.

[2016-03-14 15:44] lieuwex commented on #41
Thanks @lesander I have switched the tryout to connect using https in 57ef332843c34767c301f699197f78cabe1d9395.

[2016-03-14 17:14] lesander commented on #41
No problem @lieuwex, glad to help :smile:

[2016-03-15 12:38] CharString commented on #41
That at least brings it down to trusting simplyapps and heroku (and all CA's :-)), instead of the whole network.

Open-sourcing it means the world to me. It doesn't make the browser version secure to use. But it does allow us to study the code and use it on machines we do trust. I do still think a warning is the right thing to do. Full disclosure will allow each user to make their own, informed de

[2016-03-15 19:54] #41 closed

[2016-04-19 20:43] KeizerDev opened #43 "Send messages to a custom ID"
Is it possible to do something similiar to this?
[code]

I would like to give it just the `id` instead of a name.

[2016-04-19 20:53] lieuwex commented on #43
Not yet, definitely adding it!

[2016-04-21 18:44] JeroenJochems opened #44 "Magister 6.1"
Magister is releasing a bump to version 6.1, which breaks this API. Anyone working on a fix? Can't find the problem yet..

[2016-04-21 18:48] lieuwex commented on #44
I heared about there being a problem, although I have 6.1.0 (`{"ApiVersie":"2.0.48497.10","CoreVersie":"2.0.47073.2","DatabaseVersie":"5.7.0.0","ProductVersie":"6.1.0","ReleaseDatum":"2016-04-14T11:34:51.8683331Z"}`) everything still works for me so I don't know what's going on.

Is Magister.js broken for you?

[2016-04-22 14:08] lesander commented on #44
Magister.js is working just fine for my school.
`{"ApiVersie":"2.0.48497.10","CoreVersie":"2.0.47073.2","DatabaseVersie":"5.7.0.0","ProductVersie":"6.1.0","ReleaseDatum":"2016-04-14T11:34:43.7763678Z"}`

[2016-04-26 13:55] tkon99 commented on #44
@JeroenJochems what's your API version?

[2016-05-22 13:58] lieuwex commented on #44
Closing this due to inactivity.
Feel free to open a new issue.

[2016-05-22 13:58] #44 closed

[2016-05-22 15:20] #43 closed

[2016-05-23 07:53] tomsmeding commented on #38
Yay for straight-up ignoring

[2016-05-23 08:05] lieuwex commented on #38
That tactic hasn't been really working for us to be honest

[2016-06-21 11:49] lieuwex opened #45 "add `toJSON` methods everywhere"

[2016-06-21 12:23] tomsmeding commented on #45
lieuwex.toJSON()

[2016-06-27 05:46] gruijter opened #46 "Occasional crash without correct error handling while using Magister.ready(callback)"
The function `Magister.ready(callback)` crashes for unknown reasons. This happens occasionally. Below function is called every 10 minutes, with the exact same credentials, and crashes after an irregular number of calls (usually within 10 calls). see response at the bottom.

[code]

[code]

[2016-06-27 05:53] gruijter opened #47 "grades testDate() remains undefined after Magister.ready(callback)"
When retrieving grades information the testDate remains undefined, even though it is available in the database. Other information, like dateFilledIn, works fine while using the same method.

[code]

[2016-06-27 15:00] gruijter commented on #46
After doing error handling I found out that occasionally an error is produced:
```Ongeldig account of verkeerde combinatie van gebruikersnaam en wachtwoord. Probeer het nog eens of neem contact op met de applicatiebeheerder van de school.```

This is even though the exact same credentials are used. In my test the school name has a space: 'Example School'
Could the space be a problem?

[2016-06-27 15:31] #47 closed

[2016-06-27 15:51] lieuwex commented on #47
Thanks! It should be fixed now.

[2016-06-27 16:25] lieuwex commented on #46
Is that error correct?

[2016-06-27 17:29] gruijter commented on #46
The error is occasionally (about once every 5-10 times) presented when using this code:
[code]

Since I'm using the exact same credentials everytime I call the function, I am sure that the credentials are valid. So the "invalid account" or "wrong username / password" error is not correct.

[2016-06-27 17:31] gruijter commented on #47
Great! Does this mean I can now update the node module using "npm install magister.js", or do I need to get it from GitHub and copy myself?

[2016-06-27 17:32] lieuwex commented on #47
I've uploaded the new version to npm, you can indeed just update it with `npm install magister.js`

[2016-06-27 17:32] lieuwex commented on #46
Okay that's weird, I will look into it.

[2016-06-27 17:40] gruijter commented on #47
Toppie :)

[2016-06-27 17:55] gruijter commented on #47
Just tried it. I do get values for testDate now, but also a lot of instances (about 50%) where it is still "undefined". I'm not sure if this is still a bug, or that this is really not entered in the databas.

[2016-06-27 18:43] lieuwex commented on #47
I guess they're not entered in the database, you can check on Magister. My teachers almost never fill it in (it's optional). Feel free to reopen this issue in case it's a bug.

[2016-06-27 19:58] bwired-nl commented on #47
Hi Gruijter
can you please share your code to grab the grades, im still having problems with retrieving the grades, keep having the problem "Rate limit reached. Reset in 6 seconds"  cant seem to solve it.
would be greatly appreciated if possible

[2016-06-27 20:26] gruijter commented on #46
I found out that the error happens when I do a new Magister.ready(callback) before the previous call has fully finished loading data. E.g. loading all grades can take 5 seconds, and in the mean time node.js will already start the next Magister.ready(callback) > the error than happens.

[2016-06-27 20:39] gruijter commented on #47
[code]

[2016-06-27 20:41] gruijter commented on #47
@bwired-nl : sure, see ^^

[2016-06-27 20:41] bwired-nl commented on #47
thanks very!

[2016-06-28 07:07] gruijter commented on #46
So I think it has to do with opening multiple sessions to Magister simultaneously

[2016-06-28 07:22] gruijter commented on #46
@lieuwex :

off topic:

do you know if the student id ( profileInfo().id() ) is unique globally? I mean if a student moves to another school, will he keep the same id? Or is the school in charge of "making up" a unique id only within their own school domain?

And I have the same question for the username. (And why is the username not the same as the id?)

[2016-06-29 13:18] lieuwex commented on #46
That seems like it, I would not use use `setInterval` but I would call `setTimeout` when you got all the results.

AFAIK the IDs are only unique inside the 'school domain', so two schools could have overlapping IDs. If you want to have unique IDs I advise you to prefix `MagisterSchool#id` to the id. (accessible within the callback to `Magister#ready` as `this.magisterSchool.id`)

I guess that has

[2016-06-29 13:19] lieuwex commented on #46
I will take a look to if I can improve the error when multiple sessions are created to Magister simultaneously

[2016-06-29 17:01] tkon99 commented on #46
Mine is completely alphabetical: tkonings

[2016-06-29 17:41] gruijter commented on #46
@lieuwex Thx for the answer on the off-topics!

On topic however I think that an improved error or using setTimeout to prevent multiple sessions from occuring is fighting the symptom in stead of fighting the cause of the problem. In my opinion it should always be possible to have multiple simultaneous sessions open. Since this is for Node.JS I never know when an event occurs that will trigger a se

[2016-06-29 18:27] lieuwex commented on #46
@gruijter Yeah, I will try to fix it. But I wouldn't open multiple sessions to Magister anyway since it will trigger the ratelimit sooner and there isn't really a reason for it in your usecase.

[2016-06-29 18:35] gruijter commented on #46
@lieuwex : Thx!

and what is the ratelimit? Is there any documentation I can read to learn about these kind of things? I can only find a (not very comprehensive) document at:  http://simplyapps.nl/MagisterJS/docs/index.html

[2016-06-29 18:42] lieuwex commented on #46
Well, we don't currently handle the ratelimit well (see #38). So it's also not documented, but when you send a lot of requests you get like around 15 seconds of timeout IIRC. I'm still hoping to handle the ratelimit so that we delay requests to the server until the ratelimit is over.

[2016-07-07 13:10] gruijter commented on #46
@lieuwex: any news on handling multiple sessions simultaneously? I am now not able to use the MagisterJS because of the limitation. It causes erratic/unpredictable behavior in the app I wanted to create.

[2016-07-07 14:42] lieuwex commented on #46
@gruijter It seems that logging at the same time is just not possible using Magister, so it isn't really an issue with Magister.js.
We could fix this by sharing state in-between Magister objects, but that isn't really nice for a library to do and we would be doing more stuff than we really aim for.

I recommend doing a workaround in your own code. For example creating a wrapper which makes sure ne

[2016-07-07 14:42] #46 closed

[2016-07-07 19:25] tomsmeding commented on #46
I'm going to second @lieuwex's last sentence. It sounds like you're logging in multiple times with the same credentials, which isn't really how the library is designed. Log in once and cache the Magister object; it will handle any necessary re-logins (because the session might expire for example) by itself, without any intervention from your side. You'll issue far fewer requests, and will have a m

[2016-07-07 19:43] gruijter commented on #46
@tomsmeding @lieuwex :

ok, thanks for this insight!

Could you give an example code on how to log the entire magister object? I need to get the profileInfo, the currentCourse (classes and grades) and appointments.

[2016-07-09 13:16] lieuwex commented on #46
Sorry for the delay, but this is an example of caching the magister object, this requires the lru-cache module. If you only want to cache 1 to 5 magister objects a LRU cache isn't really needed and you could just use an object.

[code]

[2016-07-09 14:03] gruijter commented on #46
@lieuwex Thx for this! You mention I could also use an object in stead of a LRU cache. I think this is what I'm looking for. How would this work?

Now I've based my code on the examples from this page: http://simplyapps.nl/MagisterJS/
Every of the three given example actions starts a new Magister.Magister with full login. Now as I understand from you this is not the right way to do it when I want

[2016-07-09 14:10] bwired-nl commented on #46
Same for me 😀
Many thanks

[2016-07-09 15:01] gruijter commented on #46
@bwired-nl and all others who are interested: I have published my Magister App for Homey on GitHub:
https://github.com/gruijter/com.gruijter.magister/

[2016-07-09 16:58] lieuwex commented on #46
@gruijter Every example on the homepage can be seen as different files. In a real app you wouldn't log in everytime you want to fetch anything, but just once.

`keepLoggedIn` is true per default, it makes sure that the session created by logging in never expires. `sessionId` doesn't have to be used, you can use it if you already have the ID of an older session you want to login to.

I created a [p

[2016-07-09 17:44] gruijter commented on #46
@lieuwex That's great work! I'll try to see how this works out. Being a complete noob I however don't get what is now exactly being cached. Is it all data belonging to a student? I want to poll Magister every 10 minutes to check if there is a new grade or a change in appointments. Would this caching have an effect on that?

[2016-07-09 18:54] lieuwex commented on #46
@gruijter Woops your right.

But nope, it's just the session that gets cached, not the data. This has no effect whatsoever apart from no errors and fewer network requests.

[2016-07-09 19:50] gruijter commented on #46
Good news. I now have it implemented in the app and first impression is that it works great. Thx for your help in this.

[2016-07-11 18:08] basvdwollenberg opened #48 "OnvoldoendePrivileges"
I couldn't find anything about this, so I guess I'll just open an issue then.
No idea why, but every time I try to log-in I get `fouttype: "OnvoldoendePrivileges"` back, something wrong with the API or is it just for me for some reason (or am I just stupid)?
![](http://i.imgur.com/jmRuvyD.png)

[2016-07-12 08:52] tkon99 commented on #48
I believe this is an issue on Magister's end.
Can you confirm that you're able to login through Magister's web client?
If so, it's most likely a problem with your own code. (Feel free to post it here and we'll take a look).

[2016-07-12 09:03] lieuwex commented on #48
@basvdwollenberg It could be what @tkon99 said.

But it probably has to do with the fact that your school doesn't have messages enabled. This is an issue that shouldn't really be one. Fixing it requires changing the API of Magister.js based around messages a lot, though. I'm currently working on Magister.js v2 which doesn't have this problem anymore.

If you want (or need) to use Magister.js right

[2016-07-12 19:07] basvdwollenberg commented on #48
I used the default code on http://simplyapps.nl/MagisterJS/tryout/, should've mentioned that first.
I can log in through the web client just fine, so I guess my school doesn't have messages enabled then.
Calling `_setReady()` works, but calling `profileInfo()` or logging `_profileInfo` afterwards both return `undefined`.

[2016-07-12 19:52] lieuwex commented on #48
Okay weird, can you fill in your information and run this code in the tryout with your devtools open:

[code]

After that expand the `Error()` log using the arrow next to it and take a screenshot of the full stacktrace. Also please paste the JSON blob 2 log entries under that here. (it shouldn't contain any personal information)

[2016-07-13 09:53] basvdwollenberg commented on #48
![2016-07-13_115131](https://cloud.githubusercontent.com/assets/7560938/16799258/2e61d132-48f0-11e6-82b5-ad98fddfef36.png)
[code]

[2016-07-13 10:32] lesander commented on #48
[code]
and
[code]
kind of contradict each other right? I'm guessing that MagisterJS doesn't use `Mata` stuff (anymore)?

[2016-07-13 11:30] lieuwex commented on #48
@basvdwollenberg Thank you, I will look into it when I'm back home.

@lesander Yeah that sounds weird, I've no idea whether Mata stuff is even updated since its not used. So maybe the value is always set to allow everything.

But you're right, Magister.js doesn't use anything Mata related.

[2016-07-14 11:59] lieuwex commented on #48
@basvdwollenberg Okay I'm really confused, `_profileInfo` shouldn't be `undefined`.
What does
[code]

print?

[2016-07-14 16:41] basvdwollenberg commented on #48
It printed
[code]
so I tried calling `this.profileInfo()` again and somehow it works fine now. Also tried it with `this._setReady()` instead of `this._ready = true`, which results in printing it twice for some reason.
Everything's good now I guess?

[2016-07-17 22:56] lieuwex commented on #48
Weird, good that it worked out for you!
I would indeed use `this._ready = true` instead of `this._setReady()` since it recalls all the callbacks set with `.ready`, which is unwanted.

You can use

[code]

and everything should work fine with correct error logging.

[2016-07-17 22:56] #48 closed

[2016-07-17 22:56] lieuwex commented on #48
Magister.js v2 will also check the privileges for every function.

[2016-07-18 13:13] basvdwollenberg commented on #48
Awesome, thanks again!

[2016-07-23 22:23] lieuwex commented on #19
Done on the v2 branch

[2016-07-23 22:23] #19 closed

[2016-07-23 22:23] lieuwex commented on #15
Done on the v2 branch

[2016-07-23 22:23] #15 closed

[2016-07-24 06:00] tomsmeding commented on #15
🎉

[2016-07-26 17:42] lieuwex commented on #38
I think this is done on the v2 branch, still need to test, though

[2016-07-26 17:43] lieuwex commented on #18
yup! :)

[2016-07-26 17:43] #18 closed

[2016-07-26 21:44] tomsmeding commented on #18
🐊

[2016-08-29 18:44] lieuwex commented on #26
The only thing we're still retrieving during login is (expect from just sending the POST request) from `/api/account`, I doubt it's still useful to retry that when it fails. @simplyGits/simplycoders?

[2016-08-29 19:10] gruijter commented on #48
@lieuwex When is Magister.js v2 released?

and another question related to this issue: I found out that the 'OnvoldoendePrivileges' error is when you log in as parent, but not as pupil, or vice versa. Now my question: How can I test if the credentials are for a parent or for a pupil? And if the credentials are for a parent, how can I select/retrieve the right information from the pupil (a parent c

[2016-08-29 19:24] lieuwex commented on #48
@gruijter

Hard to say, honestly. I couldn't work on it this vacation since Magister is blocked in the summer vacation in my school. I currently can't work on it since I have some troubles with my Magister account.

But I guess it won't be too far off. The hardest part is done.

It will launch as an alpha first though, since I'm not fully sure about some design aspects. You can always help by cont

[2016-08-29 19:29] gruijter commented on #48
Great work! And thx 4 the ultrafast reply.
If I was anything more than a noob I would like to contribute with v2, but unfortunately I started coding just a few months ago and still have to learn a lot (no really, really a lot!)

[2016-08-29 21:11] lieuwex commented on #48
Thanks!

Haha, if you see something you think you might be able to do, give it a shot, the best way to learn is by doing. We won't bite. :smile:

[2016-08-29 21:14] lieuwex commented on #26
After a short discussion with @tomsmeding we agreed that just failing is the best strategy now.

[2016-08-29 21:14] #26 closed

[2016-09-25 17:47] lieuwex opened #49 "`Message#attachments` is sometimes null/undefined"

[2016-11-03 16:08] skillzzjesse opened #52 "[Question] Average grade per school subject?"
I can't seem to figure out how to get the average grade per subject calculated by Magister.
(As shown in the green column below)

<img width="40%" alt="screen shot 2016-11-03 at 16 58 40" src="https://cloud.githubusercontent.com/assets/15139826/19973899/e34b0c9a-a1e6-11e6-986a-762f5621be99.png">

**The goal is to generate an object like this:**
[code]
Unfortunately I'm unable to find this type of

[2016-11-03 18:23] lieuwex commented on #52
You can use the [`Course#grades`](http://simplyapps.nl/MagisterJS/docs/classes/Course.html#method_grades) function in combination with `Array#find` for this.

With `arr` being the result of `Course#grades`, you could do something like:
[code]
to get the grade average for a specific class.

[2016-11-03 18:27] lieuwex commented on #52
I know grades are a mess in Magister.js currently, with Magister.js v2 it'll be improved.

[2016-11-03 18:35] skillzzjesse commented on #52
**Alright, thanks!**

_ps._
I'm currently working on an application that'll give students advice on what to do in KWT (free work) hours based on their grades which is what I need this for.

I had already planned on writing a node package and use it to structure the grades etc. And since I need it fairly quickly....

When do you plan on getting v2 out?

[2016-11-04 07:36] skillzzjesse commented on #52
## Yes it worked
For any people who are possibly out there trying to do the same...I was able to get the desired result like so:
[code]
The result listed below:

<img width="385" alt="screen shot 2016-11-03 at 20 55 10" src="https://cloud.githubusercontent.com/assets/15139826/19997808/4035082a-a269-11e6-9c58-cf2508e1baf5.png">

**Note that** the log messages are custom and not included in the code

[2016-11-04 07:36] #52 closed

[2016-11-04 10:28] lieuwex commented on #52
Nice, sounds interesting!

I do not have an ETA yet, the code is almost ready to do everything that Magister.js v1 does (files and grades still has to be done), but after that I want to run an alpha first so we can get feedback and make some adjustments to the API and stuff. You can take a look on the [v2 branch](https://github.com/simplyGits/MagisterJS/tree/v2) if you like.

Nice that everything

[2016-11-06 11:21] skillzzjesse opened #53 "[Question] Error handling when school settings Object is not filled in (correctly)."
I'm using MagisterJS like so:
[code]
The program I'm writing is supposed to be used as a toolkit for structuring data requested from magister outside of the main program. The magister login settings are **not** constants but passed in as an object to the program. Therefore they may contain wrong data or no data at all.
The program I'm writing should be robust and handle all errors properly, giving

[2016-11-06 11:39] skillzzjesse commented on #53
**Note** the update regarding setting `url` to `null` like so:
[code]

[2016-11-06 14:18] skillzzjesse commented on #53
v0.0.0 of the module
https://gist.github.com/skillzzjesse/e39f42dbdf7e0ace7d998032ced732b3

[2016-11-06 15:03] lesander commented on #53
1. Make sure your values aren't `null`, but an empty string.
[code]

[2016-11-06 18:29] skillzzjesse commented on #53
That'll do it for most cases indeed.

[2016-11-06 19:17] skillzzjesse commented on #53
#### Actually no,
passing an empty string as either username or password results in the following.
<img width="1092" alt="screen shot 2016-11-06 at 20 12 41" src="https://cloud.githubusercontent.com/assets/15139826/20040750/6e2fef9c-a45d-11e6-84c1-ff3ea3915c0c.png">
**Note**  how the error is not propperly passed into the error handling logic of my program.

Passing in an empty string as school re

[2016-11-06 22:43] tomsmeding commented on #53
The error is already thrown by the constructor, which gets arguments that is doesn't expect. I think you should just sanity-check your inputs before passing them to the constructor. The `ready` function calls its callback when the object is done *logging in*; with these arguments it can't even *try* to log in, because it misses some arguments.

[2016-11-06 22:55] lieuwex commented on #53
Hey thanks for reporting,

I agree with everything that @tomsmeding said.

and

Thanks I wil look into that!

I can't that error, are you sure you're passing in a school and username&password? It should ignore fields that aren't used.

Yes, as @tomsmeding said, by using a `try{}catch{}` block around `new Magister`.

Indeed, don't. This is a bug in Magister.js.

Looks nice!

Indeed, if the username

[2016-11-06 22:56] lieuwex opened #54 "Invalid URL leads to empty object as error"
see #53

[2016-11-06 22:56] #53 closed

[2016-11-07 08:08] skillzzjesse commented on #53
@lieuwex

Oeps I just tested that again and indeed logging in isn't a problem. That makes things a lot easier 😄

I'll test out the `try {} catch (e) {}` block around `new Magister` and I think that would cover  any error's but the empty error generated when school is a weird value.

Thanks for the support!

[2016-11-07 16:50] lieuwex commented on #54
This was already fixed in v2: 5847990d5c6776b75bd56270daba955a31b3aa5d

[2016-11-07 16:53] #54 closed

[2016-11-07 20:23] skillzzjesse commented on #53
@lieuwex
So I tried the `try {} catch {}` block around `new Magister.Magister()` like this:
[code]

The error isn't randomly thrown anymore but handled by the error handling inside the callback. (as expected) **However** the error seems to be empty.
<img width="358" alt="screen shot 2016-11-07 at 21 21 01" src="https://cloud.githubusercontent.com/assets/15139826/20074343/2438ccfa-a530-11e6-93d1-c8

[2016-11-08 18:17] skillzzjesse opened #55 "[question] Empty error's when loggin into magister after the update? (v1.22.1)"
**Please note that** this issue has already been mentioned in other issues (#53 & #54). However it is still weird for me.

## Error's caught by the errorhandling is empty even after the update?(https://github.com/simplyGits/MagisterJS/commit/78c863a4ec59b35ae3fcaa5945d96052200f760b)
* **magister.js version: `1.22.1`**

## My code:
[code]

For this particular test case I've set the login settings o

[2016-11-09 17:54] lieuwex commented on #55
Are you perhaps calling `JSON.stringify` before printing the error? I recommend just calling `toString()` on it. Since the error that is thrown by the constructor is an `Error`, not a plain object. (this is normalized in m.js v2)

[2016-11-09 20:15] skillzzjesse commented on #55
The error handling of my program is simply a `console.log()` of the `err` with some error prefix. So I'm not calling anything on the error object.

[2016-11-09 20:33] skillzzjesse commented on #55
I'll test if calling `toString()` will resolve the issue.
**Note** how errors called by `.ready()` are properly caught by the program.

Does magister.js do something with these error Objects? How are they different?

[2016-11-10 11:14] skillzzjesse commented on #55
So I was going to post my entire error handling function etc. and checked the code for any stupid mistakes I made during copying when I noted that **I am calling `JSON.stringify(error)`**.

Stupid mistake of me not to check my code properly. (I copied the error handling function from another project without looking at it.)

I'll check if updating `JSON.stringify(error)` to sinply calling `.toStrin

[2016-11-10 15:38] skillzzjesse commented on #55
YUS, it works!

[2016-11-10 15:38] #55 closed

[2016-11-10 15:48] lieuwex commented on #55
Currently, errors during login are just plain objects, with a `toString` and `message` as properties. An error during the creation of the `Magister` object is made using the `Error` object, though, which can't be serialised.

In Magister.js v2 login errors will be `MagisterError` error instances, which extend the `Error` class, so there isn't a practical difference handling login errors and errors

[2016-11-10 16:49] skillzzjesse commented on #55
## I'm glad to hear v2 will have so many improvements!

*(btw: Will v2 make [my package (magister-tools)](https://github.com/skillzzjesse/magister-tools) unnecessary? Since its  only used to filter the endGrades from a list of grades right now.)*

[2016-11-10 16:53] lieuwex commented on #55
Nope! It will maybe even make your library more useful, since I'm trying to slim down m.js with v2. So many 'helper' functions like `getCurrentCourse` will be removed. Grades will not really be that much different from how they're currently, I'm just planning on making the API more clear. But the idea will be the same.

[2016-11-10 17:04] skillzzjesse commented on #55
Cool!
If you think of any features you might useful please take a look at the "suggestions"  section in the Readme of my repository.

[2016-11-12 22:53] skillzzjesse opened #56 "[question] Even more error's? (double error)"
(*Yeah, it's me again...*)

# Double error?
When trying to login to magister using magisterJS you sometimes get an error like this:
[code]
*I think this is magister limiting the amount of request you can send but I'm not entirely sure...*

Anyways, this error is obviously properly caught by the callback of `Magister.ready()` and can be dealt with no problemo **however** magisterJS also throws its

[2016-11-13 15:14] skillzzjesse commented on #56
# Update
I've now tried the extra `try {} catch {}` block around my login function but even this doesn't seem to fix the problem. The server (run on localhost) still crashes by the non handled error:
[code]

### The "login" function looks like this:
It uses [magister-tools](https://github.com/skillzzjesse/magister-tools) to simplyfy the amount of code I need to write in my file.

[code]

### This

[2016-11-13 18:52] tomsmeding commented on #56
Hi there!

I see a recurring pattern in your code that might (or might not) be the source of most of your problems. I thought someone had said this already, but apparently not. Please see the following code:

[code]

See the problem? What happens when `err` isn't `null`?

You log something about the error, and then happily continue to `doSomethingWith(res)` as if everything was all right.

Your co

[2016-11-13 18:59] skillzzjesse commented on #56
OMG I totally looked over that,
I should indeed `return` right away that makes a lot of sense 😂

Thanks a lot for the eye opener!
Sometimes learning too many new things in a short amount of time can cause you to forget important details.

Again, many thanks!

[2016-11-13 19:12] lieuwex commented on #56
Thanks @tomsmeding for your clear and detailed explanation!

@skillzzjesse
I want to add to this:

No, this error is not designed to be caught, but more to indicate a structural error of the code. Just like in this case (forgotten `return`s)

[2016-11-13 19:12] #56 closed

[2016-11-13 19:14] skillzzjesse commented on #56
Hahah I get it now, stupid mistake.

[2016-11-13 19:55] lesander commented on #56
_offtopic_
@lieuwex Will MagisterJS v2 work with Promises or bluebird?

[2016-11-13 20:02] skillzzjesse opened #57 "{"Fouttype":"OngeldigeSessieStatus","Omschrijving":null} while getting grades."
This error weirdly just started popping up. Seen it discussed in the following two issues. Thought I should report it.
* https://github.com/lesander/magister-calendar/issues/12
* https://github.com/simplyGits/MagisterJS/issues/36

For the purpose of testing this I copied the code for getting grades from your examples page and altered it a bit to see where the error is caught.
[code]

When running

[2016-11-13 20:49] lieuwex commented on #57
I have no idea why this error comes up, is the official Magister site working fine for you? I see this error popping up a lot for some users today on my app too. Your API version is identical to mine, so it can't be an API change.
I will take a look if I can find out if this is an upstream bug, or something that I can fix.

Yup, I actually was talking about this with @tomsmeding this evening. :P
T

[2016-11-13 20:51] lieuwex commented on #56
@lesander Native es6 promises to keep things simple and portable. Although bluebird has some compelling features, I don't think they're worth the price of depending on a lib. I'm trying to keep m.js2 light on the dependencies.

[2016-11-13 20:54] skillzzjesse commented on #57
Yeah, I tried logging into Magister manually right away. Didn't seem to have any problems but I didn't try out every part of the site (obviously).

Let me know when there's an update. :)

[2016-11-13 21:16] lesander commented on #56
Awesome. :+1: for ES6 support :) I'm not a big fan of Bluebird either, but it offers support for wrapping non-promise modules into to Promises.

[2016-11-13 23:30] arunesh90 commented on #57
I had this problem earlier tonight when using the website manually. It seems to be fixed now for me

[2016-11-14 05:28] dannykruitbosch commented on #57
I've been getting the same error when trying to get the studyguide parts. Getting the studyguides is OK, but when I try to get the studyguide parts for one of the guides, it return the "OngeldigeSessieStatus" error.

[2016-11-14 06:56] skillzzjesse commented on #57
Btw, I should also inform you that I am ofcourse running the latest version of magisterJS as of right now `v1.22.1`.

[2016-11-14 08:00] skillzzjesse commented on #57
# update
I ran the test script I typed out above again this morning to check and the error did not show up anymore.
Looks like it's resolved? 😄

[2016-11-14 21:03] skillzzjesse commented on #57
I noticed the weird error's are back and immediately went over to the 'official' Magister website for my school. Which returned an error the first time I tried:
[code]
However when I tried again it seemed to work fine.

The error's did not stop appearing afterwards though, they're back. I just thought I should report that.

[2016-11-14 22:13] skillzzjesse commented on #57
Yup, I figured.

[2016-12-13 19:46] elisaado opened #58 "The license..."
Hey, do you guys think a LGPL license is the best option for this project? If I was you I'd rather use the *MIT* license...

This means that every project that uses your API has to make it's source code available, this isn't always what developers want...
[code]

However, with the MIT license, this isn't needed;
[code]

I hope you guys consider switching to another license that doesn't need develo

[2016-12-14 19:30] lieuwex commented on #58
I think you're confusing LGPL with GPL, if a project uses a library using a LGPL license, the author doesn't need to publish the source code. Although, if changes are made to the library the author needs to publish the changes. (so only of the library)

I chose for LGPL instead of MIT because I want Magister.js to stay freely available and to create a nice developer community, so that if a commerc

[2016-12-14 19:33] bwired-nl commented on #58
Yeye agree Lieuwe 😊

[2016-12-15 12:27] elisaado commented on #58
```I think you're confusing LGPL with GPL```
Probably yeah

```if a project uses a library using a LGPL license, the author doesn't need to publish the source code. ```
Wow! Good to know :smile:

```Although, if changes are made to the library the author needs to publish the changes. (so only of the library)```
I'm not planning to make changes to the library so that's good for me :laughing:

```I

[2016-12-15 16:43] lieuwex commented on #58
:)

[2016-12-15 16:43] #58 closed

[2016-12-28 09:20] gruijter opened #59 "student.fullName does not include namePrefix"
In ProfileInfo class I expect the student.fullName to be firstName+namePrefix+lastName. The namePrefix is however not included.

[2016-12-28 20:02] lieuwex commented on #59
Thanks, that's indeed better.

[2016-12-28 20:16] gruijter commented on #59
Great, Thx for the fast response and fix!

[2016-12-28 20:26] gruijter commented on #59
Now that I have your attention ( :) ) Maybe you can help this noob with the following:
I want to display the student photo in a html frontend. In the backend (node server) I can retrieve the photo url ( Magister.profileInfo().profilePicture() ), but when I use this in the frontend I receive a 403 Forbidden.

How can I retreive the image from the school's url that requires authentication?

Hope you

[2016-12-28 20:42] gruijter commented on #59
By the way... I updated magister.js with npm update. But I still do not have namePrefix included in the fullName. Am I doing something wrong?

[2016-12-28 21:07] lieuwex commented on #59
I still have to publish a new version, will do in a bit, I will tell you when it's published. Then `npm update` should work, sorry for the confusion.

[2016-12-28 21:11] gruijter commented on #59
Cool! Thx 4 taking the time to help me out. Keep up the good work 👍

[2016-12-28 21:12] lieuwex commented on #59
No problem, thank you :)

[2016-12-29 13:09] lieuwex commented on #59
@gruijter New version (`1.23.0`) has been published!

[2016-12-29 15:46] gruijter commented on #59
Thx!, But unfortunately the fullName now has 'null' between firstName and lastName if the namePrefix is null..... :(

[2016-12-29 16:29] lieuwex commented on #59
Omg you're right I'm so stupid 😂 will fix in a moment.

On Thu, 29 Dec 2016, 16:46 gruijter, <notifications@github.com> wrote:

[2017-01-02 16:42] #59 closed

[2017-01-02 16:47] lieuwex commented on #59
@gruijter 1.23.1 has been published with a fix by @zwebfek 😄

[2017-01-02 17:22] gruijter commented on #59
Happy 🤗👍

[2017-01-06 17:24] elisaado opened #61 ""Error: Not done with logging in or errored during logging in!""
Hello fellow fella's.

I'm currently using this awesome API and I love it! But now today I ran into a problem when logging in:

[code]

I already had `.ready()` in my code.

My code (for reference):

[code]

[2017-01-06 17:43] elisaado commented on #61
I tried it in the node REPL, using the code from the website:
[code]
It returned the same error...

[2017-01-06 18:00] lieuwex commented on #61
Hey!

You don't check if an error is given in the ready callback, Magister probably returns an error during login, you should check for an error like:
[code]

I guess it could be made more clear on the homepage.

Hope this fixes it.

[2017-01-06 18:01] #61 closed

[2017-01-06 18:02] elisaado commented on #61
Oh lol, I'll try, thanks! (Btw, I took the code from the site xD (

[2017-01-06 18:03] lieuwex commented on #61
Haha yeah I know, I should change it 😛

[2017-01-23 19:32] dannykruitbosch opened #63 "When will V2 be released to npm"
Hi,

Thanks for putting this together. I just have a quick question, when will v2 be released to NPM?

Thanks,

Danny

[2017-01-23 20:06] lieuwex commented on #63
I have no idea, the functionality is currently lacking, I will work on magister.js when I have a little more time. But feel free to contribute yourself on the v2 branch. :)

The big thing that still has to be finished is grades, but I want to clearly think out a good way to structure them since it a disaster in v1.

Hope this answers your question.

[2017-01-23 20:06] #63 closed

[2017-01-24 09:00] lesander opened #64 "Use StandardJS"
http://standardjs.com

[2017-01-24 09:38] tomsmeding commented on #64
And that would be useful because?

[2017-01-24 11:41] lesander commented on #64
My bad @tomsmeding - I clicked the submit button too fast. Please bear with me while I try to explain why I think Standard is a perfect solution for MagisterJS.

Contributing to an open source project can sometimes be a struggle, since so many different coding styles and personal opinions exist.

Adopting this standard style means ranking the importance of code clarity and community conventions hi

[2017-01-24 12:05] lieuwex commented on #64
Hey @lesander!
Thanks for your in depth explanation and request, I have some thoughts I will write out when I've more time today.  :)

[2017-01-24 19:08] lieuwex commented on #64
Hey,

Talking about v2 here, of course, since v1 is deprecated and is in coffeescript.

First I want to point out that we already use everything of standard I agree with, which is everything except for the indention style (we prefer tabs). I won't go in a tabs vs space debate here.

Sorry but I just disagree with this completely, we already _had_ popular style guides, Google has one for years, air

[2017-01-24 21:33] lesander commented on #64
Obviously, yes 😄 .

That's true, yeah. Although I would not call [Feross](https://github.com/feross) just 'somebody'. But the fact is that StandardJS is rapidly becoming one of the most popular coding styles for JavaScript.

While that is true, this standard could lower the barrier for people to start contributing a little.

Perhaps I shouldn't have made the title of this issue *StandardJS*, but r

[2017-01-25 10:54] lieuwex opened #65 "Create developer environment init script"
This can really help people with setting everything up right, refs #64.
I already have some design in my head so that the only thing people have to run is `npm install` and `node init.js` or something. 😊

[2017-01-25 10:56] lieuwex commented on #64
So as you maybe have seen I have created #65, which should help with that issue!

I hope this fixes the problems, thanks again for sharing your idea :)

[2017-01-25 10:56] #64 closed

[2017-02-27 14:35] LordBunny opened #66 "C# Magister API"
I try to make a Magister API Lib in C# and I created already some functions, but I have no idea to get the session(Cookie header) for the login POST request

[2017-03-01 12:02] lieuwex commented on #66
You have to send a DELETE request to /api/sessies/huidige, there in the response you will get a set-cookie header, which contains the cookie you have to use for the POST request.
Hope this helps.

[2017-03-01 12:02] #66 closed

[2017-03-02 18:28] lieuwex opened #67 "HTTP class seems to fail on big results"
So we currently have to hack around it.

[2017-03-21 09:04] lieuwex opened #68 "'Invalid API key'"
Fuck, shit, help. The end is upon us.

[2017-03-21 09:27] tomsmeding commented on #68
Explain

[2017-03-21 10:34] idiidk commented on #68
I got this same error but fixed it by including the X-API-Client-ID header in the requests sent to the server. I did this by making a small edit to the cookie inserter. The API key itself i extracted by logging in to Magister form the browser and looking at the requests. For my school its 12D8. I dont know if this is the right solution but it works for me!

[2017-03-21 13:29] lieuwex commented on #68
@idiidk Thanks! That seems to be it, working on a fix!

As a bonus, is the Magister app broken by this, seems unlikely, but I tried to use the app and it didn't work at all.

[2017-03-21 13:31] idiidk commented on #68
@lieuwex Seems to be loading fine for me, maybe just the servers being slow?

[2017-03-21 14:10] lieuwex commented on #68
Quick patch released, sorry for the horrible late reaction and stuff: https://github.com/simplyGits/MagisterJS/releases/tag/1.23.3

I'm currently failing with making a correct patch for whatever reason (it should be simple), but this _seems_ to work. All schools seem to have the same apiKey.

@idiidk I have no idea, and I don't really care about the official app either :P

[2017-03-21 14:10] #68 closed

[2017-03-21 14:50] lieuwex commented on #68
![](https://media.giphy.com/media/z9AUvhAEiXOqA/giphy.gif)

[2017-03-21 14:53] lesander commented on #68
Can confirm, all magister schools seem to have the same `X-API-Client-ID:12D8` header set for each API request.

Settings are hard-coded in `https://school.magister.net/magister/index.html` around lines 70 - 90.
[code]
[code]

[2017-03-23 14:00] gruijter opened #69 "Magister.js not working anymore! 'Invalid API key' error since today"
The magister.js library is not working anymore as of today. When trying to login the message appears: 'Invalid API key'

[2017-03-23 14:10] gruijter commented on #69
sorry, duplicate of #68

[2017-03-23 14:10] #69 closed

[2017-03-23 15:17] lieuwex commented on #69
Yup :P make sure you're on the newest version and it should work again :blush:

[2017-03-23 16:04] bwired-nl commented on #68
can somebody help me
i have now this
getGrades ( {school: {url: 'https://dspierson.magister.net'},username: 'xxxxx',	password: 'xxxxx'}, function ( err, grades) {
		//console.log('result ROWS : ' + util.inspect(grades));

		for (var index in grades) {

etc.
i get this error
Cannot read property 'length' of null
how can add the above api etc

thanks very

[2017-03-23 16:14] idiidk commented on #68
@bwired-nl
You dont call the API like that, instead you have to first create a Magister instance:
[code]

Here is the documentation of the API for further reading: [[API|http://simplyapps.nl/MagisterJS/docs/index.html]]

[2017-03-23 16:16] bwired-nl commented on #68
it always worked till some days ago, i will check
thanks!!

[2017-03-23 19:02] idiidk commented on #68
Aantal kids op school xD

[2017-03-23 19:25] bwired-nl commented on #68
yes i have 8 kids LOL

[2017-04-03 21:02] gruijter opened #70 "profileInfo().profilePicture not working anymore"
This used to work, but not anymore (invalid API key?). I'm using v1.24.1.

      request.get({
        url: this.profileInfo().profilePicture(128, 128, false),
        encoding: null,
        headers: {
          cookie: this.http._cookie
        },
      }).pipe(fs.createWriteStream('./userdata/'+this.magisterSchool.name+'_'+this.profileInfo().id()+'.jpg'));

[2017-04-03 22:59] lieuwex commented on #70
Try adding
 'X-API-Client-ID': '12D8'
to the headers

[2017-04-04 07:10] gruijter commented on #70
yep, that does the trick. Can you fix it, or do I need to keep this in the header?

[2017-04-04 08:04] lesander commented on #70
@gruijter See issue https://github.com/simplyGits/MagisterJS/issues/68#ref-commit-cbc8300. The `X-API-Client-ID` header with value `12D8` is required for all requests to the Magister API.

[2017-04-04 08:09] lieuwex commented on #70
@gruijter exactly what @lesander says, you need to keep this in the header. Magisterjs v2 will download the picture instead, so you won't have to do a request and provide the headers. The lib will do it for you instead.

[2017-04-04 08:09] #70 closed

[2017-04-04 08:36] lesander commented on #40
Changing a Magister password seems to consist of the following steps:

1. **GET** `/api/sessions/current`
    Check the returned `isVerified` value. If set to `true` we continue to step three, otherwise we have to validate that we know the current password first.

2. **POST** `/api/sessies/huidige/valideer`
    Contains JSON body payload with current password:
[code]
    After a `200 OK`, the resp

[2017-04-04 09:11] lieuwex commented on #40
Thanks, that sounds not too bad.

That would be amazing, yeah! I guess `ProfileSettings` would be a good place for password shit. Tell me if you have any question :)

[2017-04-04 15:03] lesander commented on #40
@lieuwex Before continuing, I'd like to make sure my feature branch will be up-to-date with branch v2. However, I can see that the API key hotfix has not been committed to v2 yet, is that correct?

[2017-04-04 20:45] gruijter opened #71 "`profileInfo#isChild` provides inconsistent results"
Hi @lieuwex,

You helped me a while ago with caching the Magister object (see below). My question now is this: My code now only works when a student credentials' are used. When the parents' credentials are used things get very complicated. Is there a way for the cache to return the child object only when a parent logs in? I am really a noob on the subject of handling complex objects and functions

[2017-04-05 14:44] lieuwex commented on #71
Do you want to support multiple children per parent account?

[2017-04-05 14:44] lieuwex commented on #40
Good point! I have to commit those changes yet 😳, it's comming.

[2017-04-05 14:46] gruijter commented on #71
yes, but I would already be happy if I can understand how a single child can be supported!

[2017-04-10 16:51] lieuwex commented on #40
Hey @lesander, sorry for the incredible long wait, I had a busy week and weekend :P
I committed and pushed the changes to the v2 branch.

[2017-04-10 18:38] lesander commented on #40
No problem @lieuwex, I'll get started on my PR 👍

[2017-04-16 10:12] gruijter commented on #71
@lieuwex any help you can provide for this? Much appreciated!

[2017-04-24 14:48] gruijter commented on #71
@lieuwex bump

[2017-04-24 19:25] lieuwex commented on #71
Sorry I was busy (I'm in my exam year), this _should_ work, didn't test:

[code]

You can use it with the same credentials as before, but instead of this function returning a magister instance, you should provide it a callback as second argument which gets an error and an array of magister instances. (This will be an array of length 1 when the provided credentials were of a child, otherwise it wil

[2017-04-24 20:51] gruijter commented on #71
@lieuwex Super that you are taking the time to do this during your exam year! Hope you do very well 👍

I tried the code, but get an error on this part:
const provide = function (err, res = []) { ....

Is that a valid statement for node.js v4.8.2 ?

[2017-04-24 20:53] lieuwex commented on #71
try changing
[code]
into
[code]

[2017-04-24 21:16] gruijter commented on #71
Yes, I think this might be working. Will try more another day :)

[2017-05-05 09:32] gruijter opened #72 "Always error 'An error has occurred' when trying to login"
I don't know when it started, but I now always get 'An error has occurred' when trying to login using valid credentials. The Magister website still works though with the same credentials....

[2017-05-07 20:39] lieuwex commented on #72
Are you sure you're on the latest version? (1.24.1)
It seems to work fine for me here

[2017-05-08 10:57] gruijter commented on #72
Yes, and I have also tried on the webbased tryout http://simplyapps.nl/MagisterJS/tryout/index.html

I tried:
* two different students who are on different schools
* with the student login and the parent login
* from my own app using v 1.24.1 module
* from different devices using the tryout webpage
* from different IP addresses

Loging in on the magister website itself does work with the same cred

[2017-05-08 11:21] lieuwex commented on #72
Weird, What's the school URL?

On Mon, 8 May 2017, 12:57 gruijter, <notifications@github.com> wrote:

[2017-05-11 09:27] lieuwex commented on #72
Got the school URLs per email privately. Problem seems to be upstream.

[2017-05-11 09:27] #72 closed

[2017-05-15 15:05] elisaado commented on #68
LOL, seems like they wanted to "protect" their API by adding api keys, well, super smart to have it be `12D8` for every school.

[2017-05-15 15:09] elisaado commented on #68
How to find your school's API key: (in case they change it to not be the same for every school)
![image](https://cloud.githubusercontent.com/assets/14182500/26064412/293a8054-3991-11e7-803e-e57a36388eb9.png)

[2017-05-15 17:05] lieuwex commented on #68
I've no idea if it's really a protection scheme or if it's something for analytics, let's not speculate :p

If they will ever use different api keys per school we should be able to easily support that in the future.

[2017-05-15 17:12] elisaado commented on #68
Yeah you're right

We(?) could maybe have a database built in which it checks when making requests
Like

|school|key|
|_______|__|
|a|a|
|a|a|

But I'm not sure whether they want to do that to us(?) :p.

[2017-05-22 11:26] gruijter commented on #71
No, the code is only working for parents now. For children I always get "OnvoldoendePrivileges". I think the problem is in this bit:
[code]
For the school I'm testing with the this.profileInfo().isChild() is always false, for both parent and child. Furthermore, shouldnt the else part be similar to the if part? so, something like this (which does not work by the way):
[code]

[2017-05-22 13:18] lieuwex commented on #71
What's the full traceroute? But no, `this.children` is a function, it has to be executed first.

[2017-05-22 13:22] gruijter commented on #71
I found that the .isChild() function seems to give random results. It is almost always 'false' for both parent and child. But sometimes it is 'true' for the parent. Note: Each time I'm using the same parent and the same child login!

[2017-05-22 13:29] gruijter commented on #71
When using this it works (but I think that using the birthdate is working for my son more of a coincidence)

[code]

[2017-05-22 13:36] lieuwex commented on #71
Hmm I will take a look, thanks

[2017-05-26 18:12] gruijter commented on #71
Any news on this yet? 😎

[2017-06-16 13:13] idiidk opened #73 "New Authentication Manager"
Magister just released this post:
[Nog Veiliger Inloggen](https://www.magister.nl/nog-veiliger-inloggen-in-magister/)

If they change the way logins are handled this would break the api. Not really an issue for now but maybe keep an eye peeled for this release.

[2017-06-16 13:40] lesander commented on #73
I'll get in touch with a contact at Iddink Groep, hopefully they'll be able to provide us with a test server.

[2017-06-16 13:53] elisaado commented on #73
I was about to open the exact same issue

[2017-06-16 13:56] elisaado commented on #73
"Onlangs hebben we onderstaande gerealiseerd op het gebied van privacy, security, stabiliteit en performance:

- update Magister Desktop servers
- **onderhoud Magister Public API**
- certificering ISAE3402 type II"

[2017-06-16 14:15] lesander commented on #73
I'm unsure if the 'Public' API is different from the Magister6 REST API... However, I found a [terms-of-service](https://www.magistervo.nl/magistervo/wp-content/uploads/2016/06/MAGISTER-API-GEBRUIKSVOORWAARDEN-v1.1-DEFINITIEF.pdf) contract for the 'Magister Public API', stating that each school has to hand out an API key/token to be able to use this 'Public' API. Could this be what the [Invalid AP

[2017-06-16 14:33] lieuwex commented on #73
Thanks, I doubt this would make things harder for us, since the only change for end-users is a new look for the login screen. So it seems like we can still find a way to log in, no matter what they're doing.

If this makes integration simpler and nicer, I would be really happy! One of my biggest complaints with Magister is that integration is a lot unsafer by not providing something like OAauth to

[2017-06-29 12:08] gruijter commented on #71
Bump. Any news?

[2017-06-29 16:39] gruijter opened #74 "Child profilePicture cannot be downloaded when using parent credentials"
Below code works when the child credentials are used. But when using the parent login it doesn't work when trying to download the profilePicture from the same child.

[code]

[2017-06-29 21:43] lesander commented on #74
Please define `doesn't work`. What does Magister's API return?

[2017-06-29 21:45] lieuwex commented on #74
I guess you need to use the cookie of the Magister instance of the parent.

[2017-07-12 05:40] elisaado commented on #73
It arrived today!
Any differences so far?

[2017-07-12 05:44] elisaado commented on #73
They posted on the 4th of July:

I think they might (or already did) introduce OAuth for developers!

[2017-07-15 14:14] lieuwex opened #76 "Looking for a new maintainer"
I'm finished with high school and I don't really feel like continuing a project I can't use personally. It's also pretty hard for me to continue with Magister.js since I don't have a Magister account anymore.

So I'm looking for a new maintainer, Magister.js v2 still needs to be finished. I recommend going with that, since its codebase is way cleaner and sturdier.

So anybody who wants to take thi

[2017-07-15 14:15] lieuwex commented on #73
The whole login process has been changed, first a request to https://accounts.magister.net/challenge/username happens, this checks if the username exists and returns a challenge to do (password for example). Then a request to https://accounts.magister.net/challenge/password happens with the password. This all happens with a sessionId which gets generated(?) somewhere, but I can't find where.

Anyw

[2017-07-15 14:16] lieuwex commented on #73
Slight offtopic: I really like the login screen aesthetically and the technical is really interesting. Looks like they want to use it for more than just Magister client login or something. It looks well built.

[2017-07-15 14:17] lieuwex commented on #76
It's worth nothing that there are several projects relying on Magister.js. So maintainers of those projects are good candidates.

[2017-07-15 14:21] lieuwex commented on #71
Not really, I can't login anymore and am not really active anymore since I'm finished with high school and busy with other stuff already. :P

Sorry for the _super_ late reply, my bad. :( See #76 if you're interested in continuing Magister.js

[2017-07-15 14:22] lieuwex commented on #74
Worth noting that you don't have to do cookie magic anymore with v2.

[2017-07-15 14:26] lieuwex commented on #45
If I'm not mistaking this is done as far as necessary on the v2 branch.

[2017-07-15 14:26] #45 closed

[2017-07-15 16:49] gruijter commented on #76
Hi @lieuwex Lieuwex. Well, it is good to see you finished school! Sad to see you have to let go of the magister project you worked on so hard all these years. A big thanks for all of this!!!

I am using magisterjs for an app on a home automation system ( https://apps.athom.com/app/com.gruijter.magister ). The app is used by 100+ families. I am worried about being able to maintain the app if magist

[2017-09-16 06:21] aycgit opened #77 "backup docs"
are there any backup docs since the simplyapps website is now a shoe-selling website?

[2017-09-17 10:26] lieuwex commented on #77
Sorry, it should be fixed now (as of 18cc03bcd17b964f58cc76aa9ad4821c0b002665), you can now use http://simplygits.github.io/MagisterJS/docs

[2017-09-17 10:26] #77 closed

[2017-09-19 16:12] wipeautcrafter opened #78 "Error with connection"
When I try to connect to the API, it throws the following error:
[code]
Is it because the Magister API is constantly updating?
I am using the following code:

[code]

[2017-09-20 11:06] lieuwex commented on #78
It is probably indeed because Magister updated the API, I'm not in highschool anymore so I don't have the time or the will to keep maintaining Magister.JS. See #73 and #76.

[2017-11-09 14:51] Wqrld commented on #78
magister.js still works for me ( appart from that my account is now blocked because of it) so i guess either your school uses a special system or you messed up your username | pw | schoolname

[2018-05-08 06:45] ATDVIES commented on #76
Hi @lieuwex
I'm interested to take over your project as I want to develop an add-on application for Magister for my school.
I'm a teacher but also have a background in ICT and programming and want to develop some add-on functionality to Magister.

maybe we can have a chat about it?
best regards
Age

[2018-05-09 14:03] lieuwex commented on #76
Hey Age,

Nice to hear you're interested!
What's a way to contact you? You can send an email to
lieuwerooijakkers@gmail.com so we can figure out a way to talk.

Best regards,
Lieuwe

On Tue, 8 May 2018, 08:46 ATDVIES, <notifications@github.com> wrote:

[2018-05-14 13:25] Wqrld commented on #76
@ATDVIES Please do this! I really want to see this project continued. And i am happy to see that there still are teachers that understand and like ICT.

[2018-05-14 14:39] gruijter commented on #76
@ATDVIES +1

[2018-05-14 16:25] gruijter commented on #76
And I believe this is priority 1:
https://www.magister.nl/nog-veiliger-inloggen-in-magister/

[2018-05-29 09:08] Wqrld commented on #76
What has to be done to make v2 work? I'm not great with js but I might be able to maintain magisterjs.

[2018-06-06 19:22] Wqrld commented on #76
are the
[code]
comments required or are they just for yuidoc because the codebase would be a lot better readable without them.

[2018-06-15 17:49] lieuwex commented on #76
@Wqrld sorry for the late reply.

I would highly suggest continuing with v2, practically everything is nicer and well thought out. It also uses promises which and actually has correct error handling for ratelimits. Coffeescript is a dying language and the usage of promises allow to use modern javascript with stuff like `await`. I forgot all the differences between v1 and v2 but iirc v1 didn't even

[2018-09-08 08:58] gruijter commented on #73
see also here https://github.com/magister-api/magister/issues/58

[2018-09-19 21:35] Stanvk commented on #73
Magister sends a baerer authentication token to each magister 6 instance. See https://github.com/magister-api/magister/issues/58

[2018-09-20 06:17] elisaado commented on #73
Is the token different for each Magister instance?

[2018-10-12 16:48] idiidk commented on #73
Just some extra clarification on this:

1. Magister now uses a weird custom implementation of openid for their authentication.
2. They still allow authentication from the old endpoints but I don’t know how long that will last.
3. A bearer token is the only requirement for authenticated requests that I know off at the moment. It changes every session and has an expiration of around 4 hours.
4. The

[2018-10-12 17:50] gruijter commented on #73
@idiidk keep up the good work👍

[2018-10-16 09:44] Sj3rd commented on #68
The issue still appears, and it seems to be that every school has a different api key:
![image](https://user-images.githubusercontent.com/33723199/47007582-dd8a4400-d138-11e8-9a26-7930728188d2.png)

[2018-10-16 12:12] lieuwex commented on #68
@Sj3rd Hmm that sucks, I guess we'll have to extract it from the globalSettings payload in the HTML then. @idiidk What do you think?

[2018-10-16 12:46] Sj3rd commented on #68
Well, I'm pretty new to JS api's, so I'm not sure how to start the service😞. Not tested the Magister.js API yet.

[2018-10-16 20:49] gruijter commented on #73
Super!
Now I found some small issues in the Magsiter2 myself that I fixed. I wanted to do a pr, but I have no clue how to do that with the babel stuff.

To fix schoolnames that include numbers, I changed this in magister.js:
[code]

And in course.js I fixed a problem with getting courses:
[code]

I hope you can use this to fix the code, and publish magister2 as an npm package :) 👍

[2018-10-17 14:00] lieuwex commented on #73
Thanks @gruijter I've pushed them to v2!

[2018-10-18 18:10] lieuwex opened #86 "Message::_filledPersons never set to true"

[2018-11-01 19:21] Sj3rd commented on #68
@idiidk fixed it. For some reason after I did a request with the custom API-Client-ID of my school, I was able to make requests with the unchanged api. Now works flawless.

Gonna upgrade the magister-api from idiidk to the alpha version of this JS api :)

@lieuwex The API isnt clientside runnable right?

[2018-11-01 20:36] lieuwex commented on #68
@Sj3rd If you mean runnable in a browser, no. v1 had _some way_ to work around that using a serverside proxy. But it's just ugly and really unnecessary. You should only run Magister.js from a node instance, and set up an API for yourself if needed. Browsers can't directly connect to Magister's servers because of their same-origin policy.

[2018-11-01 20:45] Sj3rd commented on #68
@lieuwex ah ok. Because the v1 also included the browserversion, I was hoping I could call magister directly from client side js.

Since Google Cloud Functions is blocked by magister, I cant see any other way to host a node server apart from hosting it some kind of homeserver here in the Netherlands. Maybe we should have one up to date server where we can make calls to.

[2018-11-03 17:12] gruijter commented on #76
@lieuwex I tested with the npm package you made here: https://www.npmjs.com/package/magister.js/v/2.0.0-alpha.0

Besides that it doesn't install in the folder where I run install, I get problems with the new auth method. It fails in the login function in magister.js

First, getting the xsrf token from the header fails. After some tweaking I managed to get the xsrf. But then it fails in getting the

[2018-11-03 17:55] Sj3rd commented on #76
So you cant login? Or do you just not get the response back?
While testing yesterday I was able to login, but not able to get data, cause I got some stupid errors from my device, which are all client side and not facing to the api.

How did you tried to get the xrsf token?

Also, why cant we continue building the magister-api from idiidk? (https://github.com/idiidk/magister-api/). It works fantast

[2018-11-03 18:03] gruijter commented on #76
I get an error when trying to login, because in my response header there is no access token.

I havent tried idiidk's version, but I will do so. I hope it has all the functionality I need🙏. Is idiidk actively maintaining and extending his version?

[2018-11-04 09:11] Sj3rd commented on #76
Nope, hé switched to this project to help maintain and expend this one. It has the basic functions.

How did you try to test it?

[2018-11-04 09:36] gruijter commented on #76
I ran a small test.js from my windows console (and changed the credentials in test.js to a valid one). It finds the right school, but it then crashes on the res.headers.get... functions in magister.js

[code]

[2018-11-04 09:38] Sj3rd commented on #76
And when you install the alpha version, and put the quick start code in a index.js and then run it with node?

Aka just follow the instructions :)

[2018-11-04 09:39] gruijter commented on #76
which instructions ? LOL

[2018-11-04 09:46] Sj3rd commented on #76
First create a new npm project with the command: npm init

Then answer the asked questions

Then install magister.js at the alpha version 2.0 with the command: npm install --save magister.js@2.0.0-alpha.0

Then create an index.js file in your project folder, and put these contents in:

const { default: magister, getSchools } = require('magister.js');
// or with es6 modules:
// import magister, { g

[2018-11-04 13:56] gruijter commented on #76
OK, this works. 👍

I think I messed up with Magister.default in stead of just Magister.
I will have to go through my own app that I built on top of magister.js v2 to see if these changes work.
https://apps.athom.com/app/com.gruijter.magister

[2018-11-04 16:37] gruijter opened #87 "v2 _personUrl incorrect for getProfilePicture when using parent login"
when trying to retrieve the profile picture, it fails when using a parent login.

I changed profileInfo.js as follows to make it work:

[code]

Apparently this._personUrl is incorrect for parent login. Could this have impact on other functions as well?

[2018-11-04 17:17] gruijter commented on #74
in v2 the issue resurfaces. see possible fix #87

[2018-11-04 17:17] #74 closed

[2018-11-04 17:17] #71 closed

[2018-11-04 17:31] gruijter commented on #87
Yes, i replaced the faulty code with above code

[2018-11-04 17:39] Sj3rd commented on #87
Maybe you can fork the api, replace the code and push it :)

[2018-11-04 17:50] gruijter commented on #87
I will try tomorrow. But this only fixes the getProfilePictue. Who can make sure that the faulty _personUrl is not being used somewhere else as well?

[2018-11-04 20:34] lieuwex commented on #87
huh, weird, https://github.com/simplyGits/MagisterJS/blob/36d2d184021e3cbda075d77bed78857f370ad038/src/magister.js#L217 should set the url correctly.

[2018-11-04 21:06] #40 closed

[2018-11-04 21:07] lieuwex commented on #76
I've merged v2 to master, meaning that v2 is basically the 'official' version from now on. The v2 branch is deprecated, but I'm keeping it to not mess up URLs for now.

[2018-11-04 21:12] gruijter commented on #87
@lieuwex

this is what I do to test it. I have to change what I did in #88 to make it work.
(note: when using parent credentials off course)

[code]

[2018-11-04 21:24] gruijter opened #89 "profileInfo.isChild is always false"
profileInfo.isChild is set to false, even if it is a child profile. This leads to a crash when doing m.children() while logged in as a pupil.

[2018-11-04 23:13] lieuwex commented on #89
Does that crash provide any error details?

[2018-11-05 08:10] gruijter commented on #89
It gives an error during the get here:
https://github.com/simplyGits/MagisterJS/blob/0cd4948bc4d888b2ad9a43724787636a5a4e54a7/src/magister.js#L208

[2018-11-05 13:27] netlob opened #90 "When logging in with token, no profileinfo is given back"
When you login with a Bearer token, profileInfo is null.

code used to login with bearertoken:
[code]

Also Im unable to request any other data when logging in with the token.

[2018-11-05 21:43] gruijter opened #91 "login with username/password fails often"
I do a login 24/7, once an hour, using username/password, at three different schools. For one school the login fails around once every 3 to 4 times. This happens in the test password part:
https://github.com/simplyGits/MagisterJS/blob/017f475287b95405702c031fd46f0d55cdb10d10/src/magister.js#L458

Error: InvalidUsernameOrPassword
    at /node_modules/magister.js/lib/magister.js:556:11
    at Genera

[2018-11-06 06:43] Sj3rd commented on #91
What happens when you do the login from the command line a couple times after each other? (Without changing any code)

[2018-11-06 09:39] gruijter commented on #91
then same behaviour. Might be coincidence during my trial, but first login succeeded. Then 10 seconds later I get a timeout on login: `Error: FetchError: network timeout at: https://accounts.magister.net/challenge/password`
then third time I get `Error: InvalidUsernameOrPassword`
then fourth time succeeds again, and the same cycle of failure types repeat themselves.

So it seems to go from success

[2018-11-06 09:45] gruijter commented on #91
Weird, when I pass the token from the last valid login (in stead of username/password) I seem to  get a valid login, but the profileInfo = null.

Trying to login after that with username/password results in invalid usernameOrPassword everytime.

[2018-11-06 10:02] lieuwex commented on #91
The issue for that token problem is #90

[2018-11-06 10:04] #78 closed

[2018-11-06 12:45] lieuwex opened #92 "Make sure API is ready to be frozen"

[2018-11-06 12:46] Sj3rd commented on #92
?

[2018-11-06 12:52] lieuwex commented on #92
@Sj3rd Since I wanted v2 to adhere to [semantic versioning](https://semver.org/) we should only release v2 out of alpha when the API is good enough to not be broken in a non-backwards compatible manner.

[2018-11-06 13:41] Sj3rd commented on #91
But can you retrieve any other data such as grades and appointments if you login with a token?

I can't cause it gives an error while retrieving the privileges from the login, cause they're null

[2018-11-06 13:57] Sj3rd commented on #90
update: it's not only that the profileInfo is null, you're not even logged in at all. The only thing you get back from logging in with a token, is infomation you gave when you called the login (school and the token).

Maybe @idiidk can add a variable like savedauth where you can reauthenticate with (just like in his own api :) )

[2018-11-06 14:21] lieuwex commented on #90
Seems that https://github.com/simplyGits/MagisterJS/commit/7007b8cbc60b5da171b5f7ca08bce36f764ad8d7#diff-6b8f6a1f5e260a6e0da28357458b75deR386 was a bit too aggressive of a change (cc: @idiidk) (now the whole accountdata fetch is skipped)

[2018-11-06 16:16] idiidk commented on #90
Ooh shiii... I probably removed something important, looking into it now

[2018-11-07 11:28] #90 closed, assigned to nobody

[2018-11-07 14:30] Sj3rd commented on #90
How can I update to this fixed version? Its not published to npm yet

[2018-11-07 14:43] lieuwex commented on #90
@Sj3rd I will publish it, otherwise you can also install magisterjs to a project using `npm install simplyGits/MagisterJS`, instead of `npm install magister.js`. Then it uses the git version instead of the npm version.

[2018-11-07 17:26] lieuwex opened #94 "Crash in Http#_request when response is a string"
As reported by @gruijter in https://github.com/simplyGits/MagisterJS/pull/93#issuecomment-436697084.

[2018-11-09 16:48] Sj3rd opened #95 "Authenticating with token results in error"
(api version alpha.2)
When logging in with a token, an error is given:
[code]

[2018-11-11 12:59] ImranDoet opened #96 "Unclear docs"
The docs are unclear. For example:
http://simplygits.github.io/MagisterJS/GradePeriod.html
The parameters are magister, which is clear and raw, what in the world's name does raw mean? This can be seen everywhere in the docs. I cant do anything now because I don't know what raw means.

[2018-11-11 14:04] #96 closed

[2018-11-11 14:06] lieuwex commented on #96
I've uploaded improved docs, hopefully it's now more clear what is and what isn't public and stuff. :)

[2018-11-11 15:11] lieuwex opened #97 "Use async functions everywhere"

[2018-11-11 17:54] gruijter commented on #91
Would you roepen this issue pls @lieuwex?

[2018-11-11 19:31] lieuwex commented on #91
Oh woops this shouldn't have been closed indeed.

[2018-11-12 19:19] ImranDoet commented on #96
Thanks :+1:

[2018-11-14 20:31] gruijter commented on #95
@lieuwex I tested alpha4. It now works correctly with token 👍

[2018-11-14 21:08] #95 closed

[2018-11-14 21:12] lieuwex commented on #95
Great! All credits to @idiidk of course :p

[2018-11-15 10:48] gruijter commented on #91
So I installed alpha4, and retested the logging in behaviour.

I now made a scheme where I still login every hour to the three different schools/students, and retrieve some information (grades and lessons mostly).  I seperated the time between the three schools/students 10 minutes apart. If I have a token, I will first try to login with the token. If that fails I will try to login with username/pa

[2018-11-15 10:56] idiidk commented on #91
@gruijter that the token fails could be because it expires after some time. Don’t know why the username / password login fails tho. When testing I logged in with and without a token like 2 times a minute and didn’t experience any issues. When I’m home I’ll try to replicate the issue but I can’t really promise anything.

[2018-11-15 12:34] Sj3rd opened #99 "Please add latest grades"
Please add a latestGrades fcuntion, which gives the latest grades. Its a different request than the normal Grades() function.

To get grades we call: ${this._magister._personUrl}/aanmeldingen/${this.id}/cijfers

To get the latest grades the request would be: ${this._magister._personUrl}/aanmeldingen/${this.id}/cijfers/laatste?top=50&skip=0

[2018-11-15 13:10] gruijter commented on #91
@idiidk You might be correct on the token expiration. When looking at my logs so far it seems to fail the second hour after a login. So the token seems to expire after one hour, two hours at most. I think the token handling deserves a seperate issue/feauture request :)

Concerning the failed login: This only happens at one of the three schools, and seems to occur random. I get the following messag

[2018-11-15 13:15] gruijter opened #100 "Handling of login token: need method to refresh token"
Since version alpha4 it is possible to login using a token. This token however expires after 1 or 2 hours. Is it possible to provide a method that will refresh the token in time (preferably fully automatic :) )?

[2018-11-15 13:16] gruijter commented on #94
Is this maybe solved in alpha4?

Login with token is now working.

[2018-11-15 13:17] Sj3rd commented on #100
You can refresh the token by just logging in again with a username and password :)

[2018-11-15 13:18] lieuwex commented on #94
Oh yes, I forgot to ask. I guess it should be working now since we've overhauled the _request method. Thanks.

We can reopen this if the issue persists.

[2018-11-15 13:18] #94 closed

[2018-11-15 13:18] gruijter commented on #100
Sure, but then I get #91

[2018-11-15 13:21] Sj3rd commented on #100
Well, the token refresh feature will be doing that. I cant find any code in the magister web client which refreshes the token...

I think its a better idea to try to fix your error.

[2018-11-15 13:23] lieuwex commented on #100
@Sj3rd Indeed, the way I would implement this feature would be by relogging in. (which kinda is already slightly supported, or at least it was on v1, I don't remember if I ported it over to v2).

[2018-11-22 21:47] gruijter opened #101 ""-"in the school name is not working"
It seems that a "-"in the school name is not working. I get the message:
school.url is not a correct magister url

schools magister name is: jacob-roelands

[2018-11-22 22:19] lieuwex commented on #101
I never should've implemented that school url correctness check. Thanks.

[2018-11-23 15:59] Sj3rd opened #102 "Cannot get grades of previous years"
When trying to receive grades from previous years, an empty array is given back. I think it has to to with the parameters in the request, cause grades from the current year do work. In the Magister request, you can specify if you want all graddes, grades from the active period, PTA grades or calculated grades.

The request which works for me:
```/api/personen/{{ id }}/aanmeldingen/23771/cijfers/ci

[2018-11-30 16:47] #101 closed

[2018-11-30 17:08] lieuwex opened #103 "Warning on grades test"
https://travis-ci.org/simplyGits/MagisterJS/jobs/461875917#L486

[2018-11-30 18:10] lieuwex opened #104 "Implement absences"

[2019-01-12 08:21] gruijter opened #106 "All logins fail since 11.1.2019"
I get multiple reports from users that the login fails. It also fails for the three students I am testing with myself. Does anyone know what is going on?

[2019-01-12 10:38] lieuwex commented on #106
Yes, yesterday I've received #105. But it hasn't been pushed yet (my bad), I will do that in an hour or so. That should fix it.

[2019-01-12 11:09] lieuwex commented on #106
I've published 2.0.0-alpha.5, hopefully that fixes your problems.

[2019-01-12 11:09] #106 closed

[2019-01-12 11:34] gruijter commented on #106
Good job! Will test this afternoon and let you know.

[2019-01-12 12:32] gruijter commented on #106
Yep, seems to be working again. Thx!

[2019-01-12 14:46] lieuwex opened #107 "Add older node versions to travis"
I tried this a long time ago, no idea why it failed.

[2019-01-15 08:28] wouter075 opened #108 "authCode is changed"
The authCode is changed as of 9.20 (CET), the new code for us is: `c39f6a`

[2019-01-15 14:06] #108 closed

[2019-01-15 14:20] lieuwex opened #110 "Add option to overwrite authcode from package"
This would enable people to use an authcode which can be more up-to-date than the package.

@Argetan this would enable you to basically use your idea, instead of mine.
You could fetch https://raw.githubusercontent.com/simplyGits/magisterjs-authcode/master/index.js and extract the authcode. Thinking about that, I should use double quotes so it's easier to parse, or store it as a json file or someth

[2019-01-15 21:21] gruijter commented on #108
So what does this mean? Do we need to change the auth code every day now? Can this be changed automatically?

[2019-01-15 21:23] Sj3rd commented on #108
See: https://github.com/simplyGits/MagisterJS/issues/110

[2019-01-15 21:35] lieuwex commented on #108
The latter, basically whenever you're now creating a new magister object using [`magister`](https://doc.esdoc.org/github.com/simplyGits/MagisterJS/function/index.html#static-function-magister). You should provide an `authCode`, if none is given it will be retrieved from the `@magisterjs/authcode` package.

[2019-01-15 21:36] gruijter commented on #108
Clear. Thx!

[2019-01-15 21:37] Sj3rd commented on #108
But if you want to have the up to date code, make sure to update your package every couple days. Or provide the code yourself from an get request to https://raw.githubusercontent.com/simplyGits/magisterjs-authcode/master/code.json

[2019-01-17 18:04] gruijter commented on #108
I implemented this, works ok. I create a session every hour to fetch grades, appointments, etc. Before each session I fetch the authcode from internet.
Question: if I login with token, do I still need the authcode also? And how is the authcode updated on the internet? Is that automatic, or does it require manual action by someone? Im asking because in my Homey app, the students can let there alarm

[2019-01-17 19:44] lieuwex commented on #108
As far as I know, no. You should be fine.

Roughly every hour a script is ran on my server which checks if the authcode has been changed, and if it has, it will publish the new code online. It also runs during the night.

P.S.

FWIW, if you are dynamically fetching the authcode: I've created a package which should aid in doing that. It will fallback on the package contents, so it should be as safe

[2019-01-21 20:15] Argetan commented on #100
So there is, as far as you are aware, no way to make a token last longer? Say a couple days or a week? This could allow people to authenticate once and then reuse the token for subsequent logins. However, if the token needs to be "refreshed" every couple hours it would just be a nuisance.

I also came across [this page](https://www.magister.nl/overstappen-op-twee-factor-authenticatie-2fa-voor-magi

[2019-01-23 12:08] gruijter commented on #108
Apparently the authcode changed again yesterday around 4pm. I know this because of my logs, and because I get a lot of issues reported by users of my app :(

I fetch the authcode ever hour from `https://raw.githubusercontent.com/simplyGits/magisterjs-authcode/master/code.json` , but it took untill 7am this morning before I could login again. So if you publish the new code within an hour, how can i

[2019-01-23 12:33] Argetan commented on #108
Something went wrong with the script that is supposed to update the code. See [#2](https://github.com/simplyGits/magisterjs-authcode/issues/2) on the `magisterjs-authcode` repository.

[2019-01-23 12:42] gruijter commented on #108
Is there a way to run the script from the magister.js module itself? Now the login functionality is dependent on external scripts running on someone's computer, and online access to a hosted page.

[2019-01-23 12:56] Argetan commented on #108
I don't think it is, but you'd have to ask @lieuwex to be sure. What I'm guessing is that SchoolMaster sends the code to @lieuwex who then let's the automated script upload it to `magisterjs-authcode` repository. The most reliable way for you to fetch the authentication code is through an HTTP request or use the `dynamic-authcode` bundled with `magister.js`, as that will get the latest version of

[2019-01-24 10:11] gruijter commented on #108
@lieuwex Anything you can share on ^ topic? Would it be possible to somehow get the authcode directly  without fetching from an external site that is dependent on the server under your bed?
Would Magister be willing to officially support users of magister.js, and provide the authcode directly somehow?
Or would it be possible to do a completely different authorization based on the student/parent oA

[2019-01-24 13:30] gruijter commented on #108
Wow. This wouldnt run on a headless arm bases system I think. Puppeteer needs Chrome it sais in the docs...

[2019-01-24 13:38] lieuwex commented on #108
Nope, the script just behaves like a normal user would, and then sniffs the network requests and extracts the authcode.

I doubt it since they're pretty hostile to me in the past, but of course you can ask them yourself.

I think we would have the same problems as we have now, in that case.

My script is still a bit hacky, but I feel like it should work now :P

The script given by @Sj3rd is nice!

[2019-01-24 13:39] Sj3rd commented on #108
Im running it on a headless linux arm system. Just make sure a headless version of chrome is installed :)

[2019-01-25 13:19] #103 closed

[2019-01-31 08:28] Argetan opened #113 "socket hang up"
[code]

I started getting this error yesterday night. It appears to be related to the Magister authentication. I don't think it's related to the authentication code as that would have thrown an `incorrect username` error.

I tried it on two machines (Mac OS and Ubuntu), neither of them work.

[2019-01-31 08:41] Sj3rd commented on #113
Its not the API I believe. Magister has been down for a couple hours. Cant login over here on Schoolmaster's official webclient. Just a matter of time I think.

[2019-01-31 09:06] Argetan commented on #113
I should have tested that, won't load for me either. I'll leave the issue open for now until all services are working again.

[2019-01-31 15:15] Argetan commented on #113
Everything appears to be working again.

[2019-01-31 15:15] #113 closed

[2019-02-06 19:20] 7kasper opened #114 "Weird error on incorrect login"
To reproduce try the following code:
[code]
Which will give the the following error:
[code]
Perhaps we can handle the response a bit better?

[2019-02-06 20:16] 7kasper opened #115 "Site is down"
http://magister.js.org/ does not seem to work... 🤕

[2019-02-06 20:21] Argetan commented on #114
Are you sure the authentication code (`mAuth` in your case) is up to date? Around 5 hours ago an update was pushed to [`magisterjs-authcode`](https://github.com/simplyGits/magisterjs-authcode).

[2019-02-06 20:32] 7kasper commented on #114
Pretty sure yeah. When I enter the correct username / password it works a ok.

[2019-02-06 20:37] 7kasper commented on #115
Api is still viewable on https://doc.esdoc.org/github.com/simplyGits/MagisterJS/

[2019-02-06 20:46] Argetan commented on #114
https://github.com/simplyGits/MagisterJS/blob/a8a4f05fdc8189d258f4fac7ca81dfeb5f43ea17/src/magister.js#L467-L469

https://github.com/simplyGits/MagisterJS/blob/a8a4f05fdc8189d258f4fac7ca81dfeb5f43ea17/src/magister.js#L483-L485

Assuming you are on the latest version it should actually tell you wether your username or password is incorrect. Looking at your error it appears that it's thrown by this

[2019-02-06 21:15] Argetan commented on #99
Hey there! I, in theory, implemented the function. However the URL`${this._magister._personUrl}/aanmeldingen/${this.id}/cijfers/laatste?top=50&skip=0` appears to be invalid. Any idea where I could find the correct URL?

https://github.com/Argetan/MagisterJS/blob/a77ea25745e9ffc5bc8c1cf12bd8d0d2e44ebb14/src/course.js#L92-L118

[2019-02-07 23:56] lieuwex commented on #115
oh fuck me, i forgot to change the CNAME back. Thanks!

[2019-02-07 23:56] #115 closed

[2019-02-08 07:40] Argetan commented on #114
I was unable to reproduce the bug using an invalid username/password. However, when I passed in an invalid school URL it threw the following error:
[code]
Which is the same one as you got.

[2019-02-08 07:46] Sj3rd commented on #114
Yep, since normally the getSchools function throws an error when an invalid school, but when you pass the schoolurl directly there is no further error handling, so in the split function it dies

[2019-02-08 16:02] Argetan commented on #99
I figured it out.

[2019-02-08 20:09] Argetan opened #117 "Clarify the meaning of types"
Just like this code block in `absenceInfo.js`:
https://github.com/simplyGits/MagisterJS/blob/2087f489d6a850943d31e49932935c0259fb6062/src/absenceInfo.js#L68-L79

I would suggest implementing or documenting the same for other instances such as appointment info types. Below I gathered a list of some of the useful types I could find.

AfspraakInfoType:
0: "None"
1: "Huiswerk"
2: "Proefwerk"
3: "Tenta

[2019-02-11 18:22] 7kasper opened #120 "How to see if magister account is parent..."
Here's an interesting one. I am adding support for parents and children. There is, however, no way to check if the account is a parent or child.

Inside the profileinfo there is a field saying isChild, this is even used inside the function children() which gets the parent's children.
https://github.com/simplyGits/MagisterJS/blob/2087f489d6a850943d31e49932935c0259fb6062/src/magister.js#L212-L232
Th

[2019-02-11 19:07] 7kasper commented on #120
Whoops seems this is a duplicate of #89

[2019-02-11 19:07] #120 closed

[2019-02-11 19:38] lieuwex commented on #120
is there a [privilege](privileges.js) matching this maybe?

[2019-02-11 19:48] #114 closed

[2019-02-11 19:49] Argetan commented on #89
As far as I can tell `ProfileInfo.isChild` is constructed from the `Persoon` object in the account data only.
https://github.com/simplyGits/MagisterJS/blob/2087f489d6a850943d31e49932935c0259fb6062/src/magister.js#L416

`ProfileInfo.isChild` will then look for the `ZichtbaarVoorOuder` parameter.
https://github.com/simplyGits/MagisterJS/blob/2087f489d6a850943d31e49932935c0259fb6062/src/profileInfo.j

[2019-02-11 19:52] lieuwex commented on #89
Thanks for the insight @Argetan, maybe @gruijter knows if the request is accessible for parents. It indeed seems like they changed the request.

[2019-02-11 20:25] 7kasper commented on #120
@lieuwex yes there might be. Here's an overview of privileges of parent and my user account:
[code]
[code]

The `Ouderavond` privilege? >.<
The `Kinderen` priviledge might be universal.

[2019-02-11 20:38] Argetan commented on #120
The `Mata`-stuff seems to be given to only children, perhaps it could be used to check if someone is a child?

[2019-02-11 21:02] lieuwex commented on #120
Mata is from the good old pre-magister-6 time, birthplace of some good friendships, however, since it's old I wouldn't really depend on it I guess? The `kinderen` privilege sure sounds good, that should do the trick I guess?

Having the `kinderen` privilege means parent account, if absent, it's a child account instead.

[2019-02-12 15:41] Argetan commented on #120
I created a PR regarding this issue, it should probably be tested by a parent account as well.

[2019-02-12 20:08] Argetan commented on #49
Is this still a valid issue? I ran a script that checks all my messages if their attachments are `undefined` but I got 0 hits (that is when I run with `fill=true`).

[2019-02-12 23:15] lieuwex commented on #49
I've no idea myself since I don't have Magister, but if it's fixed for you I guess it's fixed.

[2019-02-12 23:15] #49 closed

[2019-02-22 19:39] Argetan commented on #89
I think this issue can be closed?

[2019-02-22 22:22] #89 closed

[2019-02-28 22:16] 7kasper opened #123 "Request: Push isParent update to npm"
😄
I kinda need the isparent function and while importing from github works a bit, it is sometimes a pain in the ass.
Can we go to alpha 10?

[2019-02-28 22:18] Sj3rd commented on #123
Yes please! 😄

[2019-03-01 07:20] Argetan commented on #123
What you can do till then is the following in `package.json`:
[code]

[2019-03-01 10:12] 7kasper commented on #123
![image](https://user-images.githubusercontent.com/6474340/53631494-f04a7480-3c12-11e9-9f91-ee86c463b36a.png)
:(

[2019-03-01 11:18] lieuwex commented on #123
published!

[2019-03-01 11:18] #123 closed

[2019-03-07 21:04] Sj3rd opened #124 "createAppointment fails due to bad request error"
The error appears when creating an appointment with the content (Inhoud) field set, and the InfoType is 0.

When the InfoType is set to 6 everything works fine! Both for "Planning" & "Persoonlijke" appointments.

Please fix since we have users from https://github.com/mamorgen/magbot3 waiting for a 2-way sync of their calendar :)

Dont forget to push to NPM this time ;)

[2019-03-07 21:42] #124 closed

[2019-03-12 15:38] iranathan opened #126 "Grades not fetching."
Hello everyone,

Am I doing something wrong or does it not work like that

code:
[code]
I want this to get the latest grades if there is any an send me a notification with pushover but when I get a new grade it doesn't do anything?

Thanks, Ira.

[2019-03-12 15:54] lieuwex commented on #126
Can you check what code it does execute? Glancing over your code it seems to be correct, and knowing till how far the code executes probably is useful to know.

[2019-03-12 15:56] Sj3rd commented on #126
Debug. Do you get the grades array? Do you get any errors? Put some debug .logs in your code to test please. Other wise there may be a problem with the r[I].xxxx since some grades don't have all the properties like teachers[0] etc.

[2019-03-12 16:08] Argetan commented on #126
Also, keep in mind that if you tested your code and it didn’t work and then you ran it again that it might be in cache (and thus it won’t send a notification). Make sure that the grade is not cached when running your tests.

[2019-03-12 17:46] iranathan commented on #126
Hello, thank you all for responding.

So the code 100% runs all the way through
I have tried:

Changing the latest option to false shows all my grades but not new ones.
I'm also not sure what the fillGrades option does. (It was in the test file here https://github.com/simplyGits/MagisterJS/blob/master/test/test.js)

Right now it just returns an empty array.

It's also not to do with the cache beca

[2019-03-12 18:51] Argetan commented on #126
Setting the `fillGrades` option runs the following function on all fetched grades:

https://github.com/simplyGits/MagisterJS/blob/0bbd17b40ec67d5c3955ea957588443fc3e9fbff/src/grade.js#L122-L144

You should be able to set it to false (as it doesn't provide anything required by your script). I would set the `latest` option to false, I believe it had a couple issues. It will then fetch all grades you

[2019-03-15 17:43] iranathan commented on #126
@Argetan Thanks for replying and sorry for the kind of late reply,

The sendPush() does work I have tested it

The function that returns an empty array is the function that gets my grades.
I have tried it without the latest open on
I get grades but not new ones.

Also.

From what date does the latest option fetch?

Thanks, Ira.

[2019-03-15 17:45] iranathan commented on #126
Just in case I will check if it actually is getting grades but `tools.sendPush()` doesn't work.

[2019-03-15 19:16] Argetan commented on #126
[code]

Running it like this works for me, you might want to check if there is something wrong with the `course` for you. Just in case Magister puts your grades in a different course than the current one.

[2019-03-17 10:35] iranathan commented on #126
Update.

Grades coming in now but about 1-2 days late.

Is this something to do with `course`?

[2019-03-17 13:51] Argetan commented on #126
It might be, I know that I'm in 2 different courses at the same time (because my school is kinda weird). You could loop over all courses and then check if `course.current` is `true` because I think that the `#find()` method just returns the first element that has `course.current === true`. And then it might just be a coincidence that your grade is only noticed after 1/2 days (since it kind of retu

[2019-03-17 15:40] lieuwex commented on #126
How does something like the following work?

[code]

[2019-03-20 21:07] iranathan commented on #126
Hello,
I fixed the problem by looping through both courses and getting the grades.
My class was getting split into 2 classes at this time and that's why I think this happened.

Is it a problem if I don't use `c.current`? because it works fine without it.

Massive thanks to everyone that helped.
Ira,

[2019-03-20 21:07] #126 closed

[2019-03-21 08:42] Argetan commented on #126
It should not be a problem. It might make your code just a bit more efficient, since it then doesn’t check your grades from previous years but it shouldn’t be an issue. You could try running the script with `c.current` checks to see if it still works, if so it will execute faster (but I don’t think you’ll really notice any difference).

[2019-03-22 19:01] Sj3rd opened #127 "Inconsistent but annoying error when retrieving messages"
https://github.com/simplyGits/MagisterJS/blob/master/src/messageFolder.js#L105
![image](https://user-images.githubusercontent.com/33723199/54846861-1f697880-4cdd-11e9-8827-dc500256cea6.png)

[2019-03-22 19:32] lieuwex commented on #127
can you add
``
`javascript
.then(res => { console.log(res); return res; })
[code]

[2019-03-31 19:26] lieuwex commented on #127
Any update on this @Sj3rd?

[2019-04-22 09:30] wipeautcrafter opened #130 "400 Bad request when trying to authenticate"
When trying to authenticate with the correct usersname and password, I get the following response:
[code]

It seems like Magister has changed their API once again....
Hope this can be fixed asap!

[2019-04-22 09:33] Sj3rd commented on #130
Pffff, little hearthattack. API works for me just fine.

[2019-04-22 09:34] wipeautcrafter commented on #130
Perhaps this is a problem with my school?

[2019-04-22 18:35] Argetan commented on #130
It still works fine for me, what's the name of your school? Since it refuses to validate it we should be able to reproduce it (and wait till we get an `incorrect username` error). Unless it is not your school, but something on your machine.

[2019-04-28 14:05] lieuwex commented on #127
Closing this due to inactivity, feel free to reopen if it occurs again.

[2019-04-28 14:05] #127 closed

[2019-04-28 14:07] lieuwex commented on #104
ref #128

[2019-04-28 14:08] #99 closed

[2019-04-28 14:09] lieuwex commented on #130
any update @wipeautcrafter?

[2019-05-05 10:24] #117 closed

[2019-05-05 15:30] lieuwex opened #132 "Test fails at creating appointments"
For example: https://travis-ci.org/simplyGits/MagisterJS/builds/528474052

Can anybody with a working account figure this out?

[2019-05-05 15:45] Argetan commented on #132
https://github.com/simplyGits/MagisterJS/blob/eab7d468d0b93e08f522200027aa659045f815b0/test/test.js#L243-L253

I took a quick look at it and it appears to me that `r` is empty, which leads me to the following conclusions a) my schedule is great b) the appointment was never created.

I'll see if I'm able to figure out exactly where it goes wrong.

[2019-05-05 15:57] lieuwex commented on #132
I envy your free time ;)

[2019-05-05 16:07] Argetan commented on #132
Right, so I'm 100% sure now that the appointment is not being created.. no idea why though. Is there a way to see when this test failed for the first time?

[2019-05-05 16:18] Argetan commented on #132
Found it, appears that it first occurred in [build #352](https://travis-ci.org/simplyGits/MagisterJS/builds/503316090). Seems that #124 and #125 might be related.

[2019-05-05 17:57] lieuwex commented on #132
I agree the bug is important, but the critical tag is more meant for stuff that (may) completely break MagisterJS. I've added a description for clarity.

This issue itself _is_ confusing, I am curious to what the solution is.

[2019-05-05 18:01] lieuwex commented on #130
Closing this due to inactivity, feel free to reopen if it occurs again.

[2019-05-05 18:01] #130 closed

[2019-05-05 18:47] lieuwex commented on #132
[It seems to be still broken](https://travis-ci.org/simplyGits/MagisterJS/builds/528521141), sadly I can't test it myself

[2019-05-05 18:50] Argetan commented on #132
It must somehow be a user-specific issue in a way then because mine is still working (and I checked again). Could it be that there is something wrong with the account used on Travis? Par example that it doesn't have permission to delete appointments or such?

[2019-05-06 08:39] Argetan commented on #132
I just ran the test again (in reference to #132) and I'm getting the error as well. I think however that it is the test that is faulty, not the code itself. I'll try and see if I can figure out how to fix it.

[2019-05-16 11:24] Argetan commented on #132
Right, sorry I took so long, I looked into it today and it seems that the appointment is not being created. Looking at the `HTTP_POST` response:
[code]

I'll see if I can figure out what's going on here.

[2019-05-17 11:44] #132 closed

[2019-06-01 12:00] wipeautcrafter commented on #130
Still does not work for me, I get the same issue..
My school's code is `farel`.

Please try to reproduce

[2019-06-03 12:33] wipeautcrafter commented on #130
All of a sudden the API works again. Probably something with either Magister or my school, not the library.

[2019-06-04 06:03] jdaa opened #135 "Username not found after 5 days of normal usage"
Hey y'all, so I logged in the last 4/5 days, but now on day five I got the "Invalid username" error. This is my code

[code]

So I don't know where the problem is rn

Thanks in advance for the responses,

Jesper van Daatselaar (jdaa)

[2019-06-04 06:16] jvdoorn commented on #135
I’d have to check, but it’s possible that the authentication code used by MagisterJS has changed again, running npm up should fix it in that case.

[2019-06-06 06:57] jdaa commented on #135
Thanks, keep up the good work

[2019-06-06 06:57] #135 closed

[2019-06-10 09:24] wipeautcrafter opened #136 "[Appointment].saveChanges() does not take effect"
[code]

This simple function does nothing more than toggling the isDone property.
Sadly, when running this, it fails to take effect...

Am I doing something wrong, or is this a legitimate issue?
Does this work for you guys?

[2019-06-11 10:02] jvdoorn commented on #136
Is it possible that it is not possible for you to update that property? If you go to Magister, are you able to toggle it there?

[2019-06-12 08:13] wipeautcrafter commented on #136
![afbeelding](https://user-images.githubusercontent.com/27733594/59334315-8144e780-8cfa-11e9-83c9-6ee5ca74a9ad.png)

When doing the exact same thing in the Magister API itself, it works just fine...
Perhaps there is something wrong with the request?
Does this work for you?

[2019-06-12 09:15] jvdoorn commented on #136
Sadly I don't really have access to a Magister account anymore (finished school... that is assuming I passed my exams which I'll find out today) so I can't test it for you.

Regarding your edit, it might make a difference, I'm not sure how they validate the requests. You could try adding the fields but I'm not sure where they should be added (I'd have to take a look at the code again).

[2019-06-19 21:49] LevitatingBusinessMan commented on #136
@jvdoorn I can send you my credentials for testing purposes if you want to continue working on the project. More importantly, did you pass?

[2019-06-20 09:30] jvdoorn commented on #136
I did pass 😃, I sent you an e-mail regarding the credentials 😉

[2019-06-20 20:18] #102 closed

[2019-07-02 14:18] LevitatingBusinessMan opened #139 "AuthError: invalid username"
I don't know if this is a temporary error at Magisters side, but it seems like their site is working normally and their status site isn't reporting any outages.

When attempting to login since sometime today MagisterJS returns an AuthError. The underlying problem is that Magister returns a 400 (bad request) error on the https://accounts.magister.net/challenge/username request.

I have seen this ha

[2019-07-02 14:34] Sj3rd commented on #139
No problems over here. I do know that the username & password validation is done by a server from the school itself, and that if that one is offline you'll get that error. Maybe they're updating or moving the server.

This is not an issue related to this repository.

[2019-07-02 14:52] LevitatingBusinessMan commented on #139
I am indeed able to login from an incognitor browser. Everything seems fine when accessing from the normal website. But I think I know what's happening, does magisterJS rely on the school url or also the school id when using a specific school to login with?

[2019-07-02 14:54] LevitatingBusinessMan commented on #139
Nope, I checked and it's still up to date.

[2019-07-03 13:42] robbertkl commented on #139
Having the same issue (400 bad request on /challenge/username) since 1 or 2 days.

[2019-07-04 10:32] jvdoorn commented on #139
I think there is an issue with the headers. It appears that Magister has `x-client-id` in their request header, but as far as I can tell we don't.

[2019-07-04 10:38] robbertkl commented on #139
I've added this header to the `/challenge/username` call, but unfortunately I'm still getting the same (400) result. Must be something else. I'll play around with some changes.

[2019-07-04 10:39] LevitatingBusinessMan commented on #139
Great, I can look into it tomorrow if it's not fixed by then yet.

[2019-07-04 13:52] robbertkl commented on #139
After adding better error handling to the response (#140) I found out the authCode was denied. After using the one from my school's website, it works again, but I guess this is where the accreditation (https://github.com/simplyGits/MagisterJS#accreditation) comes in? @lieuwex

[2019-07-04 14:17] robbertkl commented on #139
Now, after improving the error handling a bit more (see 2nd commit in #140), I'm getting a 403 error with `Invalid API key`. Not during the actual login, but when doing `retrieveAccount()` directly after. Is this because I'm "borrowing" the website authCode instead of requesting one from Iddink Digital?

So, summarizing:

* When using the authCode from `@magisterjs/authcode` I'm getting `AuthCodeV

[2019-07-04 14:39] robbertkl commented on #139
Scratch that, my bad: I had removed a bit too much stuff when debugging

It just works with the new authCode (`ebe61b7d`). I've also just found out about `@magisterjs/dynamic-authcode`, so I'll be using that from now on.

[2019-07-04 14:53] robbertkl commented on #139
By the way, @lieuwex (or perhaps his automated twin) already updated `@magisterjs/authcode` 2 days ago with the new authCode, so simply updating this package should suffice. Issue closed?

[2019-07-04 19:12] Sj3rd commented on #139
Just so you guys know: Magister has a new oauth style login available used in the official apps. Only need to authenticate 1 time and you'll be able to refresh your tokens after :)

You can get the login http shit by reverse engineering the app (proxy or any other creative way to check your phone or emulator's network requests)

Cheers :)

[2019-07-04 20:09] LevitatingBusinessMan commented on #139
As @robbertkl pointed out, this issue has already been fixed.

[2019-07-04 20:09] #139 closed

[2019-08-30 14:34] Kolkies opened #147 "Typo in jsdocs in person.js file"
https://github.com/simplyGits/MagisterJS/blob/e8cf7bfe64ff36334543f47eaee529e7410cb149/src/person.js#L110

This should be `Promise<Person>` and not `Promise<User>`, there isn't any user class in this project

[2019-09-03 15:04] lieuwex commented on #147
Fixed in #148

[2019-09-03 15:04] #147 closed

[2019-12-07 16:47] pascal541 opened #151 "Invalid username error"
Since a few weeks, I am getting the following error when trying to login to Magister:

`something went wrong: AuthError: Invalid username
    at Magister.login (...\node_modules\magister.js\lib\magister.js:617:13)
    at processTicksAndRejections (internal/process/task_queues.js:97:5) {
  name: 'AuthError'
}`

[2019-12-08 13:40] #151 closed

[2020-01-11 13:45] wipeautcrafter commented on #130
**Update:** the AuthCode is outdated, which probably was the reason. If you want to sign in, you'll need to grab your own authcode from the devtools network tab.

[2020-01-11 13:47] wipeautcrafter commented on #136
I have looked into this issue recently and I am 99% sure it has to do with the toMagister method. It is missing crucial fields which might be why Magister is denying the request. When I have time I will update the fields and make a pull request.

[2020-02-17 21:15] idiidk opened #152 "Magister taking down magister-openid"
Hello everyone, I'm here to deliver some sad news. I got an email from Iddink asking for the removal of magister-openid, because of violation of tos. They will take legal action if I don't.

MagisterJS currently depends on magister-openid, but this will have to change. I can't remove the package from npm if it's a dependency.

I don't know if we can fix this, our options seem very limited :/

~ id

[2020-02-17 21:19] idiidk commented on #152
@lieuwex it has to be done before 21-02-2020 btw, otherwise they will legally pursue it xd. I really hope you read this before then :)

[2020-02-17 21:55] LevitatingBusinessMan commented on #152
Could you maybe share the email with us?

[2020-02-17 21:58] netlob commented on #152
Add one of us on discord idiidk#1850 / netlob#1300 ;)

[2020-03-12 11:33] stingalleman commented on #151
Did you fix this issue?

[2020-03-12 11:36] pascal541 commented on #151
Yes, #150 fixed it for me.

[2020-03-12 11:38] stingalleman commented on #151
Thanks, I'll take a look at it.

[2021-09-02 19:24] antonilol opened #154 "magister moved school search"
magister moved school search to `https://accounts.magister.net/challenges/tenant/search?key=<SchoolName>`
the response only gives a `displayName` and an `id` about every school matching the query

example response (i searched for `mar`):
[code]

[2021-09-02 19:25] antonilol commented on #154
i got here because of the following error
[code]

[2021-09-03 13:21] lieuwex commented on #154
Hi, thanks for the report!

I'm afraid that -even if this issue has been fixed- the library doesn't work. It has simply been too long that somebody has updated it.

You can try to implement the needed change yourself, and see if the library does something useful then. You might even want to fork this library.

I'm not working on the library myself anymore, so if you or somebody else doesn't pick i

[2021-09-03 14:38] antonilol commented on #154
Yes, true

I'll try

[2021-09-05 10:59] kai-bor commented on #154
Are you still working on it?

[2021-09-05 12:45] antonilol commented on #154
I tried but it gave me too much errors. Magister changed completely

[2021-09-05 15:03] netlob commented on #154
zoeken naar scholen kan idd niet meer, maar dat is eigenlijk ook niet nodig

je kan gewoon zelf een achool object meegeven als je die magister instance aanmaakt, `{url: "https://school.magister.net"}` zou moeten werken :)

de login flow is ook wat veranderd, maar ze volgen de oidc spec en die is redelijk makkelijk te implementeren, vgm werkt deze package van vincent ook nog: https://github.com/idi

[2021-09-05 15:18] antonilol commented on #154
bedankt voor de info ga ik proberen

[2021-09-05 15:29] antonilol commented on #154
[code]
moet ik nog ergens een `authCode` in doen?

[2021-09-05 16:01] netlob commented on #154
ja je moet naast username password en school ook een `authCode` meegeven, ik denk dat de enige manier om die te verkrijgen is om in de devtools van je browser te kijken

je kan ook een parser schrijven die eerst de login html ophaalt van magister, daar de naam van t huidige js uithaalt en dan dat js bestand opvragen en vervolgens met een regex de authcode eruit trekken

[2021-09-05 16:08] antonilol commented on #154
die heb ik

js ga ik doen is denk ik wel handig

[2021-09-05 16:09] antonilol commented on #154
en het werkt btw

[2021-09-05 16:27] antonilol commented on #154
dat is niet gelukt, de `authCode` uit de js halen wel en dat werkt goed maar de js is nu gehardcode in mn programma

[2021-09-05 16:30] netlob commented on #154
hij is dynamisch, soms veranderd die authcode al na een uurtje en soms na 2 dagen, dus let daar even op want dan moet je m opnieuw opzoeken en hardcoden ;)

[2021-09-05 16:30] idiidk commented on #154
daar liepen we tijdens het ontwikkelen van deze library ook tegenaan. je zou eventueel dus een parser kunnen schrijven alleen was dit een beetje buiten de scope van dit project. misschien werkt de parser die lieuwe ooit heeft gemaakt nog wel, dan kan je hier de code ophalen (https://raw.githubusercontent.com/simplyGits/magisterjs-authcode/master/code.json)

[2021-09-05 16:33] antonilol commented on #154
daar staat een oude authCode

en,
ze hebben authCodes langer gemaakt
nu is ie `5a2fc9ed85b0c92613`

[2021-09-05 16:35] antonilol commented on #154
de authCode is niet gehardcode, maar de link naar het script waar die in staat:
https://accounts.magister.net/js/account-ece636e938079a0d6583.js

[2021-09-05 19:33] antonilol commented on #154
oh ja, nog iets voor een nieuwe `schoolSearch` functie,
volgens mij heeft elke school de magister gebruikt een subdomein van `magister.net` (`school.magister.net`)
die subdomeinen kan je in een object of array stoppen om op te zoeken
lijst met subdomeinen:  https://subdomainfinder.c99.nl/scans/2021-09-05/magister.net (en omgezet naar array: https://pastebin.com/Bew1DxSt)
EDIT: sommige subdomeinen

[2021-09-07 00:16] netlob commented on #154
klopt maar dan kan je nog steeds niet zoeken op naam, dan kan je met zo goed zelf dat subdomein invullen

ik heb hier een array met alle scholen die magister hadden (naam, id en url) die je opzich kan gebruiken. is een klein beetje outdated (verzameld een paar dagen voordat dat oude api endpoint verwijderd werd) maarja zovaak zal die lijst toch niet veranderen

https://pastebin.com/H82Nhbh1

[2021-09-07 08:20] antonilol commented on #154
oh ja klopt lol

ok om nu mee te beginnen maar er moet vast ook een mogelijkheid zijn om zo'n array automatisch te maken door bijv die lijst met subdomein te requesten en uit de html de schoolnaam te halen

[2021-09-08 19:38] manuelvleeuwen opened #155 "Domain removed"
Everytime I use this package, I get the following error: `FetchError: request to https://mijn.magister.net/api/schools?filter=<schoolname> failed, reason: getaddrinfo ENOTFOUND mijn.magister.net`, as it turns out, `mijn.magister.net` does not exist anymore. I'm not sure where the API did move to, but the package is pretty much unusable at the moment.

[2021-09-08 20:09] antonilol commented on #155
check the loooooooooooong discussion [here](https://github.com/simplyGits/MagisterJS/issues/154)

[2021-09-08 20:22] antonilol commented on #155
(in dutch btw)

[2021-09-08 20:23] antonilol commented on #155
i got it to work again
yes, they moved the search API

for all the info:
https://github.com/simplyGits/MagisterJS/issues/154

[2021-09-12 18:53] kai-bor commented on #154
he hoe gaat het, is het al af en kan ik anders helpen

[2021-09-14 18:51] antonilol commented on #154
net ff een script gemaakt om de `authCode` op te halen.
ik kijk ook nog of dit ding het over een paar dagen nog steeds doet (magister verandert de `authCode` continu)
https://gist.github.com/antonilol/88a1edf32c5541baf9516a41bb0beb2d

[2021-09-14 18:53] antonilol commented on #154
als je wil kan je de array van @Netlob https://github.com/simplyGits/MagisterJS/issues/154#issuecomment-913908112 in de school search functie zetten

[2021-12-11 20:22] domiehomie commented on #154
volgens mij (als ik alles goed heb gedaan voor de rest) werkt deze functie niet meer, is hij nog steeds uit de devtools te halen? en zoja, hoe?

[2021-12-12 13:44] antonilol commented on #154
Bij mij werkt het nog

[2021-12-12 14:20] domiehomie commented on #154
misschien heeft het te maken met het feit dat mijn school een oauth2 flow heeft?

[2021-12-13 21:32] antonilol commented on #154
Oh dan zou je dat zelf uit moeten proberen tot het werkt wat mijn school heeft dat niet en dus kan ik dan niet doen 🙁